{
  "openapi": "3.1.0",
  "info": {
    "title": "Partner",
    "version": "unknown"
  },
  "servers": [
    {
      "url": "https://api-stg.transak.com/partners/api/v2"
    }
  ],
  "components": {
    "securitySchemes": {}
  },
  "security": [
    {}
  ],
  "paths": {
    "/orders": {
      "get": {
        "summary": "Get Orders",
        "description": "Get all the orders for the partner",
        "operationId": "get-orders",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "limits the number of records returned",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "skip omits the specified number of returned records",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "startDate in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "default": "2024-04-01"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "endDate in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "default": "2024-05-01"
            }
          },
          {
            "name": "filter[productsAvailed]",
            "in": "query",
            "description": "products availed i.e., BUY or SELL",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": [
                "[\"BUY\"]"
              ]
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "description": "order status filter",
            "schema": {
              "type": "string",
              "default": "COMPLETED"
            }
          },
          {
            "name": "filter[sortOrder]",
            "in": "query",
            "description": "sort order by which you want your orders either desc or asc",
            "schema": {
              "type": "string",
              "default": "desc"
            }
          },
          {
            "name": "access-token",
            "in": "header",
            "description": "Your Access Token, you can generate one using our [Refresh Token](ref:refresh-access-token) endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "default": "YOUR_ACCESS_TOKEN"
            }
          },
          {
            "name": "filter[walletAddress]",
            "in": "query",
            "description": "filter orders based on a wallet address. Note: Returns BUY orders only",
            "schema": {
              "type": "string",
              "default": "0x5CCb2C2EAe7f1f4A49d66f0E2B42580028C555AF"
            }
          },
          {
            "name": "filter[partnerOrderId]",
            "in": "query",
            "description": "filter orders based on a partnerOrderId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Buy Order": {
                    "value": "{\n  \"meta\": {\n    \"filter\": {\n      \"productsAvailed\": [\n        \"BUY\"\n      ],\n      \"status\": [\n        \"COMPLETED\"\n      ]\n    },\n    \"sortOrder\": \"desc\",\n    \"startDate\": \"2024-04-01\",\n    \"endDate\": \"2024-05-01\",\n    \"limit\": 100,\n    \"skip\": 0,\n    \"totalCount\": 12\n  },\n  \"data\": [\n    {\n      \"_id\": \"7d8e0655-728e-458c-9c15-b3e9f2aa66ed\",\n      \"walletAddress\": \"0x12d8885e0F0BFc487d93A9e3DcB5c23cB86EE9ae\",\n      \"createdAt\": \"2024-04-23T14:41:14.063Z\",\n      \"status\": \"COMPLETED\",\n      \"fiatCurrency\": \"GBP\",\n      \"userId\": \"aebd10cb-0f51-4152-b98d-708602cecf26\",\n      \"cryptoCurrency\": \"ETH\",\n      \"isBuyOrSell\": \"BUY\",\n      \"fiatAmount\": 50,\n      \"dispute\": false,\n      \"ipAddress\": \"35.177.158.9\",\n      \"amountPaid\": 50,\n      \"paymentOptionId\": \"gbp_bank_transfer\",\n      \"walletLink\": \"https://sepolia.etherscan.io/address/0x12d8885e0F0BFc487d93A9e3DcB5c23cB86EE9ae\",\n      \"quoteId\": \"4015367c-3636-4ea1-a4a9-f583608ad3b5\",\n      \"orderProcessingType\": \"NORMAL\",\n      \"addressAdditionalData\": false,\n      \"network\": \"ethereum\",\n      \"appVersionName\": \"staging-api\",\n      \"conversionPriceDataAtCreateOrder\": {\n        \"_id\": \"1e1346bb-b0ff-47cb-95be-297557743d29\",\n        \"id\": \"1e1346bb-b0ff-47cb-95be-297557743d29\",\n        \"createdAt\": \"2024-04-23T14:41:14.002Z\",\n        \"fiatCurrency\": \"GBP\",\n        \"cryptoCurrency\": \"ETH\",\n        \"paymentMethod\": \"gbp_bank_transfer\",\n        \"fiatAmount\": 50,\n        \"network\": \"ethereum\",\n        \"cryptoAmount\": 0.01596979,\n        \"isBuyOrSell\": \"BUY\",\n        \"conversionPrice\": 0.00038032370328306114,\n        \"marketConversionPrice\": 0.0003824223836841305,\n        \"slippage\": 0.55,\n        \"cryptoLiquidityProvider\": \"transak\",\n        \"fiatLiquidityProvider\": \"coinbase\",\n        \"partnerApiKey\": \"d79671a4-b021-4a4f-a444-6862a680a94b\",\n        \"sourceTokenAmount\": 0.01596979230085574,\n        \"sourceToken\": \"ETH\",\n        \"notes\": [],\n        \"fiatFeeAmount\": 8.01,\n        \"feeDecimal\": 0.1602,\n        \"swaps\": [\n          {\n            \"sourceCurrency\": \"GBP\",\n            \"destinationCurrency\": \"USDT\",\n            \"sourceAmount\": 50,\n            \"destinationAmount\": 62.14139149305077,\n            \"paymentMethod\": \"gbp_bank_transfer\",\n            \"liquidityProvider\": \"coinbase\",\n            \"conversionPrice\": 1.2428278298610154,\n            \"feeInSourceAmount\": 0,\n            \"networkFeeInSourceAmount\": 0,\n            \"marketConversionPrice\": 1.2428278298610154,\n            \"isNonCustodial\": false,\n            \"isFiatliquidityProvider\": true,\n            \"isFiatPartnerDirectCryptoDeposit\": false,\n            \"isFiatPartnerAccountWalletDeposit\": false,\n            \"liquidityProviderData\": false,\n            \"originalDestinationAmount\": 62.14139149305077\n          },\n          {\n            \"sourceCurrency\": \"USDT\",\n            \"destinationCurrency\": \"ETH\",\n            \"sourceAmount\": 62.14139149305077,\n            \"destinationAmount\": 0.019016185164153057,\n            \"liquidityProvider\": \"transak\",\n            \"conversionPrice\": 0.00030601479476492934,\n            \"networkFeeInSourceAmount\": 0,\n            \"networkFeeInDestinationAmount\": 0,\n            \"marketConversionPrice\": 0.00030601479476492934,\n            \"liquidityProviderData\": false,\n            \"isNonCustodial\": false\n          },\n          {\n            \"sourceCurrency\": \"ETH\",\n            \"destinationCurrency\": \"ETH\",\n            \"sourceAmount\": 0.019016185164153057,\n            \"destinationAmount\": 0.019016185164153057,\n            \"liquidityProvider\": \"transak\",\n            \"conversionPrice\": 1,\n            \"isCryptoliquidityProvider\": true,\n            \"networkFeeInSourceAmount\": 0.00228827,\n            \"networkFeeInDestinationAmount\": 0.00228827,\n            \"marketConversionPrice\": 1,\n            \"liquidityProviderData\": false,\n            \"isFiatPartnerAccountWalletDeposit\": false\n          }\n        ],\n        \"fees\": [\n          {\n            \"name\": \"Network/Exchange fee\",\n            \"value\": 6.01,\n            \"id\": \"network_fee\",\n            \"ids\": [\n              \"network_fee\"\n            ]\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"value\": 2,\n            \"id\": \"transak_fee\",\n            \"ids\": [\n              \"transak_fee\",\n              \"partner_fee\"\n            ]\n          }\n        ],\n        \"fiatAmountInUsd\": 62.17,\n        \"internalFees\": [\n          {\n            \"name\": \"Network/Exchange fee\",\n            \"id\": \"network_fee\",\n            \"value\": 6.01\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"id\": \"transak_fee\",\n            \"value\": 1\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"id\": \"partner_fee\",\n            \"value\": 1\n          }\n        ],\n        \"cost\": {\n          \"ethPriceInLocalCurrency\": 2614.90969845,\n          \"gasCostinLocalCurrency\": 6.014292306435,\n          \"transakMinimumFee\": 1,\n          \"transakFeeAmount\": 1,\n          \"fiatLiquidityProviderFee\": 0,\n          \"gasCostinLocalCurrencyByFiatPartner\": 0,\n          \"gasCostinLocalCurrencyByCryptoPartner\": 0,\n          \"partnerFeeDecimal\": 0.02,\n          \"partnerFeeInLocalCurrency\": 1,\n          \"totalFeeDecimal\": 0.1602,\n          \"totalFeeAmount\": 8.01,\n          \"gasCurrency\": \"ETH\",\n          \"gasInNativeToken\": 0.0023,\n          \"gasCurrencyRateInUsd\": 0.00030758347046429724,\n          \"totalAmountChargedByTransak\": 8.014292306435\n        }\n      },\n      \"conversionPriceData\": {\n        \"_id\": \"98c423b9-ff2c-42a1-bb27-59d8f9530095\",\n        \"id\": \"98c423b9-ff2c-42a1-bb27-59d8f9530095\",\n        \"createdAt\": \"2024-04-23T14:41:21.612Z\",\n        \"fiatCurrency\": \"GBP\",\n        \"cryptoCurrency\": \"ETH\",\n        \"paymentMethod\": \"gbp_bank_transfer\",\n        \"fiatAmount\": 50,\n        \"network\": \"ethereum\",\n        \"cryptoAmount\": 0.01596979,\n        \"isBuyOrSell\": \"BUY\",\n        \"conversionPrice\": 0.00038032370328306114,\n        \"marketConversionPrice\": 0.0003824223836841305,\n        \"slippage\": 0.55,\n        \"cryptoLiquidityProvider\": \"transak\",\n        \"fiatLiquidityProvider\": \"coinbase\",\n        \"partnerApiKey\": \"d79671a4-b021-4a4f-a444-6862a680a94b\",\n        \"sourceTokenAmount\": 0.01596979230085574,\n        \"sourceToken\": \"ETH\",\n        \"notes\": [],\n        \"fiatFeeAmount\": 8.01,\n        \"feeDecimal\": 0.1602,\n        \"swaps\": [\n          {\n            \"sourceCurrency\": \"GBP\",\n            \"destinationCurrency\": \"USDT\",\n            \"sourceAmount\": 50,\n            \"destinationAmount\": 62.14139149305077,\n            \"paymentMethod\": \"gbp_bank_transfer\",\n            \"liquidityProvider\": \"coinbase\",\n            \"conversionPrice\": 1.2428278298610154,\n            \"feeInSourceAmount\": 0,\n            \"networkFeeInSourceAmount\": 0,\n            \"marketConversionPrice\": 1.2428278298610154,\n            \"isNonCustodial\": false,\n            \"isFiatliquidityProvider\": true,\n            \"isFiatPartnerDirectCryptoDeposit\": false,\n            \"isFiatPartnerAccountWalletDeposit\": false,\n            \"liquidityProviderData\": false,\n            \"originalDestinationAmount\": 62.14139149305077\n          },\n          {\n            \"sourceCurrency\": \"USDT\",\n            \"destinationCurrency\": \"ETH\",\n            \"sourceAmount\": 62.14139149305077,\n            \"destinationAmount\": 0.019016185164153057,\n            \"liquidityProvider\": \"transak\",\n            \"conversionPrice\": 0.00030601479476492934,\n            \"networkFeeInSourceAmount\": 0,\n            \"networkFeeInDestinationAmount\": 0,\n            \"marketConversionPrice\": 0.00030601479476492934,\n            \"liquidityProviderData\": false,\n            \"isNonCustodial\": false\n          },\n          {\n            \"sourceCurrency\": \"ETH\",\n            \"destinationCurrency\": \"ETH\",\n            \"sourceAmount\": 0.019016185164153057,\n            \"destinationAmount\": 0.019016185164153057,\n            \"liquidityProvider\": \"transak\",\n            \"conversionPrice\": 1,\n            \"isCryptoliquidityProvider\": true,\n            \"networkFeeInSourceAmount\": 0.00228827,\n            \"networkFeeInDestinationAmount\": 0.00228827,\n            \"marketConversionPrice\": 1,\n            \"liquidityProviderData\": false,\n            \"isFiatPartnerAccountWalletDeposit\": false\n          }\n        ],\n        \"fees\": [\n          {\n            \"name\": \"Network/Exchange fee\",\n            \"value\": 6.01,\n            \"id\": \"network_fee\",\n            \"ids\": [\n              \"network_fee\"\n            ]\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"value\": 2,\n            \"id\": \"transak_fee\",\n            \"ids\": [\n              \"transak_fee\",\n              \"partner_fee\"\n            ]\n          }\n        ],\n        \"fiatAmountInUsd\": 62.17,\n        \"internalFees\": [\n          {\n            \"name\": \"Network/Exchange fee\",\n            \"id\": \"network_fee\",\n            \"value\": 6.01\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"id\": \"transak_fee\",\n            \"value\": 1\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"id\": \"partner_fee\",\n            \"value\": 1\n          }\n        ],\n        \"cost\": {\n          \"ethPriceInLocalCurrency\": 2614.90969845,\n          \"gasCostinLocalCurrency\": 6.014292306435,\n          \"transakMinimumFee\": 1,\n          \"transakFeeAmount\": 1,\n          \"fiatLiquidityProviderFee\": 0,\n          \"gasCostinLocalCurrencyByFiatPartner\": 0,\n          \"gasCostinLocalCurrencyByCryptoPartner\": 0,\n          \"partnerFeeDecimal\": 0.02,\n          \"partnerFeeInLocalCurrency\": 1,\n          \"totalFeeDecimal\": 0.1602,\n          \"totalFeeAmount\": 8.01,\n          \"gasCurrency\": \"ETH\",\n          \"gasInNativeToken\": 0.0023,\n          \"gasCurrencyRateInUsd\": 0.00030758347046429724,\n          \"totalAmountChargedByTransak\": 8.014292306435\n        }\n      },\n      \"conversionPrice\": 0.0003803236484877352,\n      \"cryptoAmount\": 0.01596979,\n      \"totalFeeInFiat\": 8.01,\n      \"totalfeeDecimal\": 0.1602,\n      \"fiatAmountInUsd\": 62.17,\n      \"countryCode\": \"FR\",\n      \"referenceCode\": 393693,\n      \"paymentOptions\": [\n        {\n          \"currency\": \"GBP\",\n          \"id\": \"gbp_bank_transfer\",\n          \"name\": \"Bank Transfer Details\",\n          \"fields\": [\n            {\n              \"name\": \"Name\",\n              \"value\": \"Transak Limited\"\n            },\n            {\n              \"name\": \"Account #\",\n              \"value\": \"03744184\"\n            },\n            {\n              \"name\": \"Sort Code\",\n              \"value\": \"000000\"\n            },\n            {\n              \"name\": \"Bank\",\n              \"value\": \"Modulr\"\n            },\n            {\n              \"name\": \"Address\",\n              \"value\": \"Scale Space, 58 Wood Lane, London, W12 7RZ\"\n            }\n          ]\n        }\n      ],\n      \"fromWalletAddress\": \"0x085ee67132ec4297b85ed5d1b4c65424d36fda7d\",\n      \"isPaymentProcessing\": false,\n      \"autoExpiresAt\": \"2024-04-23T15:26:14+00:00\",\n      \"partnerApiKey\": \"d79671a4-b021-4a4f-a444-6862a680a94b\",\n      \"stateCode\": \"Paris\",\n      \"userKycType\": \"STANDARD\",\n      \"cardPaymentData\": {\n        \"orderId\": \"7d8e0655-728e-458c-9c15-b3e9f2aa66ed\",\n        \"paymentId\": \"6627c88bb6fc7f4ae6ca86e1\",\n        \"pgData\": {\n          \"paymentOptions\": [\n            {\n              \"currency\": \"GBP\",\n              \"id\": \"gbp_bank_transfer\",\n              \"name\": \"Bank Transfer Details\",\n              \"fields\": [\n                {\n                  \"name\": \"Name\",\n                  \"value\": \"Transak Limited\"\n                },\n                {\n                  \"name\": \"Account #\",\n                  \"value\": \"03744184\"\n                },\n                {\n                  \"name\": \"Sort Code\",\n                  \"value\": \"000000\"\n                },\n                {\n                  \"name\": \"Bank\",\n                  \"value\": \"Modulr\"\n                },\n                {\n                  \"name\": \"Address\",\n                  \"value\": \"Scale Space, 58 Wood Lane, London, W12 7RZ\"\n                }\n              ]\n            }\n          ],\n          \"liquidityProvider\": \"MODULR\",\n          \"status\": \"CREATED\"\n        },\n        \"liquidityProvider\": \"MODULR\",\n        \"updatedAt\": \"2024-04-23T14:41:20.262Z\",\n        \"status\": \"CAPTURED\",\n        \"processedOn\": \"2024-04-23T14:41:18.000Z\"\n      },\n      \"liquidityProvider\": \"MODULR\",\n      \"id\": \"7d8e0655-728e-458c-9c15-b3e9f2aa66ed\",\n      \"slackThreadId\": \"1713883276.352889\",\n      \"statusHistories\": [\n        {\n          \"status\": \"AWAITING_PAYMENT_FROM_USER\",\n          \"createdAt\": \"2024-04-23T14:41:16.423Z\",\n          \"message\": \"*📦 New order by First Last* \\n*Order Id:* 7d8e0655-728e-458c-9c15-b3e9f2aa66ed\\n*Email:* ashutosh+12342024@transak.com\\n*Crypto Amount:* 0.01596979 ETH\\n*Fiat Amount:* 50 GBP\\n*Payment Method:*  gbp_bank_transfer\\n*Liquidity Provider*  MODULR\\n*Wallet Address:* 0x12d8885e0F0BFc487d93A9e3DcB5c23cB86EE9ae\\n*Reference Code:* 393693 \\n*Partner name:* Transak\",\n          \"isEmailSentToUser\": true,\n          \"partnerEventId\": \"ORDER_CREATED\"\n        },\n        {\n          \"status\": \"PAYMENT_DONE_MARKED_BY_USER\",\n          \"createdAt\": \"2024-04-23T14:41:18.797Z\",\n          \"message\": \"*💳 User marked payment is done - First Last* \\n*Order Id:* 7d8e0655-728e-458c-9c15-b3e9f2aa66ed\",\n          \"isEmailSentToUser\": false,\n          \"partnerEventId\": \"ORDER_PAYMENT_VERIFYING\"\n        },\n        {\n          \"status\": \"PENDING_DELIVERY_FROM_TRANSAK\",\n          \"createdAt\": \"2024-04-23T14:41:20.524Z\",\n          \"message\": \"*💸 Payment reconciled successfully. Received 50 GBP\",\n          \"isEmailSentToUser\": false,\n          \"partnerEventId\": \"ORDER_PROCESSING\"\n        },\n        {\n          \"status\": \"COMPLETED\",\n          \"createdAt\": \"2024-04-23T14:41:51.371Z\",\n          \"message\": \"✅ Crypto sent successfully to First Last\\n\\nTransaction Link: https://sepolia.etherscan.io/tx/DUMMY_TX_ID\",\n          \"isEmailSentToUser\": true,\n          \"partnerEventId\": \"ORDER_COMPLETED\"\n        }\n      ],\n      \"paymentMarkedAt\": \"2024-04-23T14:41:18.535Z\",\n      \"capturedAt\": \"2024-04-23T14:41:19.773Z\",\n      \"liquidityProviderData\": {\n        \"id\": \"T2100AEP4M\",\n        \"amount\": 50,\n        \"currency\": \"GBP\",\n        \"description\": \"Payment from First Last: 393693\",\n        \"transactionDate\": \"2024-04-23T14:41:18.000+0000\",\n        \"postedDate\": \"2024-04-23T14:41:19.002+0000\",\n        \"credit\": true,\n        \"type\": \"PI_BACS\",\n        \"sourceId\": \"P2100FRAQ4\",\n        \"additionalInfo\": {\n          \"payer\": {\n            \"name\": \"First Last\",\n            \"address\": {\n              \"country\": \"France\",\n              \"postCode\": \"75010\",\n              \"postTown\": \"Paris\",\n              \"addressLine1\": \"170 Rue du Faubourg Saint-Denis, Paris\",\n              \"addressLine2\": \"\"\n            },\n            \"identifier\": {\n              \"type\": \"SCAN\",\n              \"sortCode\": \"000000\",\n              \"accountNumber\": \"03744184\"\n            }\n          }\n        },\n        \"account\": {\n          \"id\": \"A2100C5B5K\",\n          \"name\": \"Transak\",\n          \"balance\": \"50.00\",\n          \"currency\": \"GBP\",\n          \"status\": \"ACTIVE\",\n          \"identifiers\": [\n            {\n              \"type\": \"SCAN\",\n              \"accountNumber\": \"03744184\",\n              \"sortCode\": \"000000\",\n              \"providerExtraInfo\": \"{}\"\n            }\n          ],\n          \"customerId\": \"C120H84Y\",\n          \"customerName\": \"Transak\",\n          \"externalReference\": \"aebd10cb-0f51-4152-b98d-708602cecf26\",\n          \"accessGroups\": [],\n          \"createdDate\": \"2024-04-23T14:41:15.930+0000\",\n          \"directDebit\": false,\n          \"securedFundingLimit\": \"0.00\"\n        }\n      },\n      \"paymentTnxId\": \"A2100C5B5K_T2100AEP4M\",\n      \"paymentdateTime\": \"2024-04-23T14:41:18.000Z\",\n      \"isFirstOrder\": true,\n      \"paymentProcessingAt\": \"2024-04-23T14:41:21.046Z\",\n      \"updatedAt\": \"2024-04-23T14:41:21.638Z\",\n      \"cryptoTransactionData\": {\n        \"id\": \"9861ba99-41dd-456a-ab52-ae84fba1844c\",\n        \"txid\": \"DUMMY_TX_ID\",\n        \"timestamp\": 1619973309000,\n        \"datetime\": \"2021-05-02T16:35:09.000Z\",\n        \"address\": \"DUMMY_ADDRESS\",\n        \"type\": \"withdrawal\",\n        \"amount\": 0.00114222,\n        \"currency\": \"ETH\",\n        \"status\": \"ok\",\n        \"fee\": {\n          \"currency\": \"ETH\",\n          \"cost\": \"0.0005\"\n        }\n      },\n      \"exchangeId\": \"binance\",\n      \"partnerTransactionHash\": \"9861ba99-41dd-456a-ab52-ae84fba1844c\",\n      \"transactionHashCreatedAt\": \"2024-04-23T14:41:22.550Z\",\n      \"completedAt\": \"2024-04-23T14:41:50.278Z\",\n      \"orderCost\": {\n        \"ethPriceInLocalCurrency\": 2614.90969845,\n        \"gasCostinLocalCurrency\": 6.014292306435,\n        \"transakMinimumFee\": 1,\n        \"transakFeeAmount\": 1,\n        \"fiatLiquidityProviderFee\": 0,\n        \"gasCostinLocalCurrencyByFiatPartner\": 0,\n        \"gasCostinLocalCurrencyByCryptoPartner\": 0,\n        \"partnerFeeDecimal\": 0.02,\n        \"partnerFeeInLocalCurrency\": 1,\n        \"totalFeeDecimal\": 0.1602,\n        \"totalFeeAmount\": 8.01,\n        \"gasCurrency\": \"ETH\",\n        \"gasInNativeToken\": 0.0023,\n        \"gasCurrencyRateInUsd\": 0.00030758347046429724,\n        \"totalAmountChargedByTransak\": 8.014292306435\n      },\n      \"transactionHash\": \"DUMMY_TX_ID\",\n      \"transactionLink\": \"https://sepolia.etherscan.io/tx/DUMMY_TX_ID\",\n      \"partnerFeeInUsd\": \"1.24\",\n      \"partnerFeeDecimal\": 0.02,\n      \"webhookResponses\": []\n    },\n    {\n      \"_id\": \"94a81424-387a-4760-b37d-812d671a3cee\",\n      \"walletAddress\": \"0xad50e22916f9cE95715DfD285f6819C545E3FB12\",\n      \"createdAt\": \"2024-04-23T14:33:17.899Z\",\n      \"status\": \"COMPLETED\",\n      \"fiatCurrency\": \"GBP\",\n      \"userId\": \"ada1b65c-3233-4f01-9786-9097d93b3039\",\n      \"cryptoCurrency\": \"ETH\",\n      \"isBuyOrSell\": \"BUY\",\n      \"fiatAmount\": 50,\n      \"dispute\": false,\n      \"ipAddress\": \"35.177.158.9\",\n      \"amountPaid\": 50,\n      \"paymentOptionId\": \"gbp_bank_transfer\",\n      \"walletLink\": \"https://sepolia.etherscan.io/address/0xad50e22916f9cE95715DfD285f6819C545E3FB12\",\n      \"quoteId\": \"654e9c79-84d2-497a-8fec-85f2634365e0\",\n      \"orderProcessingType\": \"NORMAL\",\n      \"addressAdditionalData\": false,\n      \"network\": \"ethereum\",\n      \"appVersionName\": \"staging-api\",\n      \"conversionPriceDataAtCreateOrder\": {\n        \"_id\": \"07c1c3f4-74a5-488d-918a-9320c356a211\",\n        \"id\": \"07c1c3f4-74a5-488d-918a-9320c356a211\",\n        \"createdAt\": \"2024-04-23T14:33:17.875Z\",\n        \"fiatCurrency\": \"GBP\",\n        \"cryptoCurrency\": \"ETH\",\n        \"paymentMethod\": \"gbp_bank_transfer\",\n        \"fiatAmount\": 50,\n        \"network\": \"ethereum\",\n        \"cryptoAmount\": 0.01600968,\n        \"isBuyOrSell\": \"BUY\",\n        \"conversionPrice\": 0.00038118294007798446,\n        \"marketConversionPrice\": 0.00038333616967215297,\n        \"slippage\": 0.56,\n        \"cryptoLiquidityProvider\": \"transak\",\n        \"fiatLiquidityProvider\": \"coinbase\",\n        \"partnerApiKey\": \"d79671a4-b021-4a4f-a444-6862a680a94b\",\n        \"sourceTokenAmount\": 0.016009683483275347,\n        \"sourceToken\": \"ETH\",\n        \"notes\": [],\n        \"fiatFeeAmount\": 8,\n        \"feeDecimal\": 0.16,\n        \"swaps\": [\n          {\n            \"sourceCurrency\": \"GBP\",\n            \"destinationCurrency\": \"USDT\",\n            \"sourceAmount\": 50,\n            \"destinationAmount\": 62.13331731073147,\n            \"paymentMethod\": \"gbp_bank_transfer\",\n            \"liquidityProvider\": \"coinbase\",\n            \"conversionPrice\": 1.2426663462146295,\n            \"feeInSourceAmount\": 0,\n            \"networkFeeInSourceAmount\": 0,\n            \"marketConversionPrice\": 1.2426663462146295,\n            \"isNonCustodial\": false,\n            \"isFiatliquidityProvider\": true,\n            \"isFiatPartnerDirectCryptoDeposit\": false,\n            \"isFiatPartnerAccountWalletDeposit\": false,\n            \"liquidityProviderData\": false,\n            \"originalDestinationAmount\": 62.13331731073147\n          },\n          {\n            \"sourceCurrency\": \"USDT\",\n            \"destinationCurrency\": \"ETH\",\n            \"sourceAmount\": 62.13331731073147,\n            \"destinationAmount\": 0.019059147003899223,\n            \"liquidityProvider\": \"transak\",\n            \"conversionPrice\": 0.00030674600727631496,\n            \"networkFeeInSourceAmount\": 0,\n            \"networkFeeInDestinationAmount\": 0,\n            \"marketConversionPrice\": 0.00030674600727631496,\n            \"liquidityProviderData\": false,\n            \"isNonCustodial\": false\n          },\n          {\n            \"sourceCurrency\": \"ETH\",\n            \"destinationCurrency\": \"ETH\",\n            \"sourceAmount\": 0.019059147003899223,\n            \"destinationAmount\": 0.019059147003899223,\n            \"liquidityProvider\": \"transak\",\n            \"conversionPrice\": 1,\n            \"isCryptoliquidityProvider\": true,\n            \"networkFeeInSourceAmount\": 0.00228827,\n            \"networkFeeInDestinationAmount\": 0.00228827,\n            \"marketConversionPrice\": 1,\n            \"liquidityProviderData\": false,\n            \"isFiatPartnerAccountWalletDeposit\": false\n          }\n        ],\n        \"fees\": [\n          {\n            \"name\": \"Network/Exchange fee\",\n            \"value\": 6,\n            \"id\": \"network_fee\",\n            \"ids\": [\n              \"network_fee\"\n            ]\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"value\": 2,\n            \"id\": \"transak_fee\",\n            \"ids\": [\n              \"transak_fee\",\n              \"partner_fee\"\n            ]\n          }\n        ],\n        \"fiatAmountInUsd\": 62.17,\n        \"internalFees\": [\n          {\n            \"name\": \"Network/Exchange fee\",\n            \"id\": \"network_fee\",\n            \"value\": 6\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"id\": \"transak_fee\",\n            \"value\": 1\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"id\": \"partner_fee\",\n            \"value\": 1\n          }\n        ],\n        \"cost\": {\n          \"ethPriceInLocalCurrency\": 2608.6763502,\n          \"gasCostinLocalCurrency\": 5.999955605459999,\n          \"transakMinimumFee\": 1,\n          \"transakFeeAmount\": 1,\n          \"fiatLiquidityProviderFee\": 0,\n          \"gasCostinLocalCurrencyByFiatPartner\": 0,\n          \"gasCostinLocalCurrencyByCryptoPartner\": 0,\n          \"partnerFeeDecimal\": 0.02,\n          \"partnerFeeInLocalCurrency\": 1,\n          \"totalFeeDecimal\": 0.16,\n          \"totalFeeAmount\": 8,\n          \"gasCurrency\": \"ETH\",\n          \"gasInNativeToken\": 0.0023,\n          \"gasCurrencyRateInUsd\": 0.00030831843127582167,\n          \"totalAmountChargedByTransak\": 7.999955605459999\n        }\n      },\n      \"conversionPriceData\": {\n        \"_id\": \"1bad1e83-bc03-4c16-bd24-b8c0773701ca\",\n        \"id\": \"1bad1e83-bc03-4c16-bd24-b8c0773701ca\",\n        \"createdAt\": \"2024-04-23T14:33:26.692Z\",\n        \"fiatCurrency\": \"GBP\",\n        \"cryptoCurrency\": \"ETH\",\n        \"paymentMethod\": \"gbp_bank_transfer\",\n        \"fiatAmount\": 50,\n        \"network\": \"ethereum\",\n        \"cryptoAmount\": 0.01600968,\n        \"isBuyOrSell\": \"BUY\",\n        \"conversionPrice\": 0.00038118294007798446,\n        \"marketConversionPrice\": 0.00038333616967215297,\n        \"slippage\": 0.56,\n        \"cryptoLiquidityProvider\": \"transak\",\n        \"fiatLiquidityProvider\": \"coinbase\",\n        \"partnerApiKey\": \"d79671a4-b021-4a4f-a444-6862a680a94b\",\n        \"sourceTokenAmount\": 0.016009683483275347,\n        \"sourceToken\": \"ETH\",\n        \"notes\": [],\n        \"fiatFeeAmount\": 8,\n        \"feeDecimal\": 0.16,\n        \"swaps\": [\n          {\n            \"sourceCurrency\": \"GBP\",\n            \"destinationCurrency\": \"USDT\",\n            \"sourceAmount\": 50,\n            \"destinationAmount\": 62.13331731073147,\n            \"paymentMethod\": \"gbp_bank_transfer\",\n            \"liquidityProvider\": \"coinbase\",\n            \"conversionPrice\": 1.2426663462146295,\n            \"feeInSourceAmount\": 0,\n            \"networkFeeInSourceAmount\": 0,\n            \"marketConversionPrice\": 1.2426663462146295,\n            \"isNonCustodial\": false,\n            \"isFiatliquidityProvider\": true,\n            \"isFiatPartnerDirectCryptoDeposit\": false,\n            \"isFiatPartnerAccountWalletDeposit\": false,\n            \"liquidityProviderData\": false,\n            \"originalDestinationAmount\": 62.13331731073147\n          },\n          {\n            \"sourceCurrency\": \"USDT\",\n            \"destinationCurrency\": \"ETH\",\n            \"sourceAmount\": 62.13331731073147,\n            \"destinationAmount\": 0.019059147003899223,\n            \"liquidityProvider\": \"transak\",\n            \"conversionPrice\": 0.00030674600727631496,\n            \"networkFeeInSourceAmount\": 0,\n            \"networkFeeInDestinationAmount\": 0,\n            \"marketConversionPrice\": 0.00030674600727631496,\n            \"liquidityProviderData\": false,\n            \"isNonCustodial\": false\n          },\n          {\n            \"sourceCurrency\": \"ETH\",\n            \"destinationCurrency\": \"ETH\",\n            \"sourceAmount\": 0.019059147003899223,\n            \"destinationAmount\": 0.019059147003899223,\n            \"liquidityProvider\": \"transak\",\n            \"conversionPrice\": 1,\n            \"isCryptoliquidityProvider\": true,\n            \"networkFeeInSourceAmount\": 0.00228827,\n            \"networkFeeInDestinationAmount\": 0.00228827,\n            \"marketConversionPrice\": 1,\n            \"liquidityProviderData\": false,\n            \"isFiatPartnerAccountWalletDeposit\": false\n          }\n        ],\n        \"fees\": [\n          {\n            \"name\": \"Network/Exchange fee\",\n            \"value\": 6,\n            \"id\": \"network_fee\",\n            \"ids\": [\n              \"network_fee\"\n            ]\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"value\": 2,\n            \"id\": \"transak_fee\",\n            \"ids\": [\n              \"transak_fee\",\n              \"partner_fee\"\n            ]\n          }\n        ],\n        \"fiatAmountInUsd\": 62.17,\n        \"internalFees\": [\n          {\n            \"name\": \"Network/Exchange fee\",\n            \"id\": \"network_fee\",\n            \"value\": 6\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"id\": \"transak_fee\",\n            \"value\": 1\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"id\": \"partner_fee\",\n            \"value\": 1\n          }\n        ],\n        \"cost\": {\n          \"ethPriceInLocalCurrency\": 2608.6763502,\n          \"gasCostinLocalCurrency\": 5.999955605459999,\n          \"transakMinimumFee\": 1,\n          \"transakFeeAmount\": 1,\n          \"fiatLiquidityProviderFee\": 0,\n          \"gasCostinLocalCurrencyByFiatPartner\": 0,\n          \"gasCostinLocalCurrencyByCryptoPartner\": 0,\n          \"partnerFeeDecimal\": 0.02,\n          \"partnerFeeInLocalCurrency\": 1,\n          \"totalFeeDecimal\": 0.16,\n          \"totalFeeAmount\": 8,\n          \"gasCurrency\": \"ETH\",\n          \"gasInNativeToken\": 0.0023,\n          \"gasCurrencyRateInUsd\": 0.00030831843127582167,\n          \"totalAmountChargedByTransak\": 7.999955605459999\n        }\n      },\n      \"conversionPrice\": 0.0003811828571428571,\n      \"cryptoAmount\": 0.01600968,\n      \"totalFeeInFiat\": 8,\n      \"totalfeeDecimal\": 0.16,\n      \"fiatAmountInUsd\": 62.17,\n      \"countryCode\": \"FR\",\n      \"referenceCode\": 720473,\n      \"paymentOptions\": [\n        {\n          \"currency\": \"GBP\",\n          \"id\": \"gbp_bank_transfer\",\n          \"name\": \"Bank Transfer Details\",\n          \"fields\": [\n            {\n              \"name\": \"Name\",\n              \"value\": \"Transak Limited\"\n            },\n            {\n              \"name\": \"Account #\",\n              \"value\": \"03744074\"\n            },\n            {\n              \"name\": \"Sort Code\",\n              \"value\": \"000000\"\n            },\n            {\n              \"name\": \"Bank\",\n              \"value\": \"Modulr\"\n            },\n            {\n              \"name\": \"Address\",\n              \"value\": \"Scale Space, 58 Wood Lane, London, W12 7RZ\"\n            }\n          ]\n        }\n      ],\n      \"fromWalletAddress\": \"0x085ee67132ec4297b85ed5d1b4c65424d36fda7d\",\n      \"isPaymentProcessing\": false,\n      \"autoExpiresAt\": \"2024-04-23T15:18:17+00:00\",\n      \"partnerApiKey\": \"d79671a4-b021-4a4f-a444-6862a680a94b\",\n      \"stateCode\": \"Paris\",\n      \"userKycType\": \"STANDARD\",\n      \"cardPaymentData\": {\n        \"orderId\": \"94a81424-387a-4760-b37d-812d671a3cee\",\n        \"paymentId\": \"6627c6aeb6fc7f4bffca8596\",\n        \"pgData\": {\n          \"paymentOptions\": [\n            {\n              \"currency\": \"GBP\",\n              \"id\": \"gbp_bank_transfer\",\n              \"name\": \"Bank Transfer Details\",\n              \"fields\": [\n                {\n                  \"name\": \"Name\",\n                  \"value\": \"Transak Limited\"\n                },\n                {\n                  \"name\": \"Account #\",\n                  \"value\": \"03744074\"\n                },\n                {\n                  \"name\": \"Sort Code\",\n                  \"value\": \"000000\"\n                },\n                {\n                  \"name\": \"Bank\",\n                  \"value\": \"Modulr\"\n                },\n                {\n                  \"name\": \"Address\",\n                  \"value\": \"Scale Space, 58 Wood Lane, London, W12 7RZ\"\n                }\n              ]\n            }\n          ],\n          \"liquidityProvider\": \"MODULR\",\n          \"status\": \"CREATED\"\n        },\n        \"liquidityProvider\": \"MODULR\",\n        \"updatedAt\": \"2024-04-23T14:33:23.031Z\",\n        \"status\": \"CAPTURED\",\n        \"processedOn\": \"2024-04-23T14:33:22.000Z\"\n      },\n      \"liquidityProvider\": \"MODULR\",\n      \"id\": \"94a81424-387a-4760-b37d-812d671a3cee\",\n      \"slackThreadId\": \"1713882799.259039\",\n      \"statusHistories\": [\n        {\n          \"status\": \"AWAITING_PAYMENT_FROM_USER\",\n          \"createdAt\": \"2024-04-23T14:33:19.325Z\",\n          \"message\": \"*📦 New order by Ashutosh Jha* \\n*Order Id:* 94a81424-387a-4760-b37d-812d671a3cee\\n*Email:* ashutosh+23042024@transak.com\\n*Crypto Amount:* 0.01600968 ETH\\n*Fiat Amount:* 50 GBP\\n*Payment Method:*  gbp_bank_transfer\\n*Liquidity Provider*  MODULR\\n*Wallet Address:* 0xad50e22916f9cE95715DfD285f6819C545E3FB12\\n*Reference Code:* 720473 \\n*Partner name:* Transak\",\n          \"isEmailSentToUser\": true,\n          \"partnerEventId\": \"ORDER_CREATED\"\n        },\n        {\n          \"status\": \"PAYMENT_DONE_MARKED_BY_USER\",\n          \"createdAt\": \"2024-04-23T14:33:21.980Z\",\n          \"message\": \"*💳 User marked payment is done - Ashutosh Jha* \\n*Order Id:* 94a81424-387a-4760-b37d-812d671a3cee\",\n          \"isEmailSentToUser\": false,\n          \"partnerEventId\": \"ORDER_PAYMENT_VERIFYING\"\n        },\n        {\n          \"status\": \"PENDING_DELIVERY_FROM_TRANSAK\",\n          \"createdAt\": \"2024-04-23T14:33:23.278Z\",\n          \"message\": \"*💸 Payment reconciled successfully. Received 50 GBP\",\n          \"isEmailSentToUser\": false,\n          \"partnerEventId\": \"ORDER_PROCESSING\"\n        },\n        {\n          \"status\": \"COMPLETED\",\n          \"createdAt\": \"2024-04-23T14:33:50.008Z\",\n          \"message\": \"✅ Crypto sent successfully to Ashutosh Jha\\n\\nTransaction Link: https://sepolia.etherscan.io/tx/DUMMY_TX_ID\",\n          \"isEmailSentToUser\": true,\n          \"partnerEventId\": \"ORDER_COMPLETED\"\n        }\n      ],\n      \"paymentMarkedAt\": \"2024-04-23T14:33:21.754Z\",\n      \"capturedAt\": \"2024-04-23T14:33:22.936Z\",\n      \"liquidityProviderData\": {\n        \"id\": \"T2100AEP1W\",\n        \"amount\": 50,\n        \"currency\": \"GBP\",\n        \"description\": \"Payment from Ashutosh Jha: 720473\",\n        \"transactionDate\": \"2024-04-23T14:33:22.000+0000\",\n        \"postedDate\": \"2024-04-23T14:33:22.151+0000\",\n        \"credit\": true,\n        \"type\": \"PI_BACS\",\n        \"sourceId\": \"P2100FRAN5\",\n        \"additionalInfo\": {\n          \"payer\": {\n            \"name\": \"Ashutosh Jha\",\n            \"address\": {\n              \"country\": \"France\",\n              \"postCode\": \"75010\",\n              \"postTown\": \"Paris\",\n              \"addressLine1\": \"Somewhere\",\n              \"addressLine2\": \"\"\n            },\n            \"identifier\": {\n              \"type\": \"SCAN\",\n              \"sortCode\": \"000000\",\n              \"accountNumber\": \"03744074\"\n            }\n          }\n        },\n        \"account\": {\n          \"id\": \"A2100C59XH\",\n          \"name\": \"Transak\",\n          \"balance\": \"50.00\",\n          \"currency\": \"GBP\",\n          \"status\": \"ACTIVE\",\n          \"identifiers\": [\n            {\n              \"type\": \"SCAN\",\n              \"accountNumber\": \"03744074\",\n              \"sortCode\": \"000000\",\n              \"providerExtraInfo\": \"{}\"\n            }\n          ],\n          \"customerId\": \"C120H84Y\",\n          \"customerName\": \"Transak\",\n          \"externalReference\": \"ada1b65c-3233-4f01-9786-9097d93b3039\",\n          \"accessGroups\": [],\n          \"createdDate\": \"2024-04-23T13:42:57.258+0000\",\n          \"directDebit\": false,\n          \"securedFundingLimit\": \"0.00\"\n        }\n      },\n      \"paymentTnxId\": \"A2100C59XH_T2100AEP1W\",\n      \"paymentdateTime\": \"2024-04-23T14:33:22.000Z\",\n      \"isFirstOrder\": false,\n      \"paymentProcessingAt\": \"2024-04-23T14:33:26.410Z\",\n      \"updatedAt\": \"2024-04-23T14:33:26.715Z\",\n      \"cryptoTransactionData\": {\n        \"id\": \"9861ba99-41dd-456a-ab52-ae84fba1844c\",\n        \"txid\": \"DUMMY_TX_ID\",\n        \"timestamp\": 1619973309000,\n        \"datetime\": \"2021-05-02T16:35:09.000Z\",\n        \"address\": \"DUMMY_ADDRESS\",\n        \"type\": \"withdrawal\",\n        \"amount\": 0.00114222,\n        \"currency\": \"ETH\",\n        \"status\": \"ok\",\n        \"fee\": {\n          \"currency\": \"ETH\",\n          \"cost\": \"0.0005\"\n        }\n      },\n      \"exchangeId\": \"binance\",\n      \"partnerTransactionHash\": \"9861ba99-41dd-456a-ab52-ae84fba1844c\",\n      \"transactionHashCreatedAt\": \"2024-04-23T14:33:27.709Z\",\n      \"completedAt\": \"2024-04-23T14:33:48.297Z\",\n      \"orderCost\": {\n        \"ethPriceInLocalCurrency\": 2608.6763502,\n        \"gasCostinLocalCurrency\": 5.999955605459999,\n        \"transakMinimumFee\": 1,\n        \"transakFeeAmount\": 1,\n        \"fiatLiquidityProviderFee\": 0,\n        \"gasCostinLocalCurrencyByFiatPartner\": 0,\n        \"gasCostinLocalCurrencyByCryptoPartner\": 0,\n        \"partnerFeeDecimal\": 0.02,\n        \"partnerFeeInLocalCurrency\": 1,\n        \"totalFeeDecimal\": 0.16,\n        \"totalFeeAmount\": 8,\n        \"gasCurrency\": \"ETH\",\n        \"gasInNativeToken\": 0.0023,\n        \"gasCurrencyRateInUsd\": 0.00030831843127582167,\n        \"totalAmountChargedByTransak\": 7.999955605459999\n      },\n      \"transactionHash\": \"DUMMY_TX_ID\",\n      \"transactionLink\": \"https://sepolia.etherscan.io/tx/DUMMY_TX_ID\",\n      \"partnerFeeInUsd\": \"1.24\",\n      \"partnerFeeDecimal\": 0.02,\n      \"webhookResponses\": []\n    },\n    {\n      \"_id\": \"c49e3630-56ae-40f1-a9ca-12d6cc65b487\",\n      \"walletAddress\": \"0xad50e22916f9cE95715DfD285f6819C545E3FB12\",\n      \"createdAt\": \"2024-04-23T13:42:55.884Z\",\n      \"status\": \"COMPLETED\",\n      \"fiatCurrency\": \"GBP\",\n      \"userId\": \"ada1b65c-3233-4f01-9786-9097d93b3039\",\n      \"cryptoCurrency\": \"ETH\",\n      \"isBuyOrSell\": \"BUY\",\n      \"fiatAmount\": 50,\n      \"dispute\": false,\n      \"ipAddress\": \"35.177.158.9\",\n      \"amountPaid\": 50,\n      \"paymentOptionId\": \"gbp_bank_transfer\",\n      \"walletLink\": \"https://sepolia.etherscan.io/address/0xad50e22916f9cE95715DfD285f6819C545E3FB12\",\n      \"quoteId\": \"9250de68-a51b-4177-afa2-6acbd1e9f937\",\n      \"orderProcessingType\": \"NORMAL\",\n      \"addressAdditionalData\": false,\n      \"network\": \"ethereum\",\n      \"appVersionName\": \"staging-api\",\n      \"conversionPriceDataAtCreateOrder\": {\n        \"_id\": \"4826de2f-b288-44be-85e1-d413f0fdd2dd\",\n        \"id\": \"4826de2f-b288-44be-85e1-d413f0fdd2dd\",\n        \"createdAt\": \"2024-04-23T13:42:55.807Z\",\n        \"fiatCurrency\": \"GBP\",\n        \"cryptoCurrency\": \"ETH\",\n        \"paymentMethod\": \"gbp_bank_transfer\",\n        \"fiatAmount\": 50,\n        \"network\": \"ethereum\",\n        \"cryptoAmount\": 0.01624831,\n        \"isBuyOrSell\": \"BUY\",\n        \"conversionPrice\": 0.00038612902890121836,\n        \"marketConversionPrice\": 0.0003882597439164637,\n        \"slippage\": 0.55,\n        \"cryptoLiquidityProvider\": \"transak\",\n        \"fiatLiquidityProvider\": \"coinbase\",\n        \"partnerApiKey\": \"d79671a4-b021-4a4f-a444-6862a680a94b\",\n        \"sourceTokenAmount\": 0.01624830953616327,\n        \"sourceToken\": \"ETH\",\n        \"notes\": [],\n        \"fiatFeeAmount\": 7.92,\n        \"feeDecimal\": 0.15839999999999999,\n        \"swaps\": [\n          {\n            \"sourceCurrency\": \"GBP\",\n            \"destinationCurrency\": \"USDT\",\n            \"sourceAmount\": 50,\n            \"destinationAmount\": 61.92036364158808,\n            \"paymentMethod\": \"gbp_bank_transfer\",\n            \"liquidityProvider\": \"coinbase\",\n            \"conversionPrice\": 1.2384072728317617,\n            \"feeInSourceAmount\": 0,\n            \"networkFeeInSourceAmount\": 0,\n            \"marketConversionPrice\": 1.2384072728317617,\n            \"isNonCustodial\": false,\n            \"isFiatliquidityProvider\": true,\n            \"isFiatPartnerDirectCryptoDeposit\": false,\n            \"isFiatPartnerAccountWalletDeposit\": false,\n            \"liquidityProviderData\": false,\n            \"originalDestinationAmount\": 61.92036364158808\n          },\n          {\n            \"sourceCurrency\": \"USDT\",\n            \"destinationCurrency\": \"ETH\",\n            \"sourceAmount\": 61.92036364158808,\n            \"destinationAmount\": 0.019306451445060917,\n            \"liquidityProvider\": \"transak\",\n            \"conversionPrice\": 0.0003117948653662939,\n            \"networkFeeInSourceAmount\": 0,\n            \"networkFeeInDestinationAmount\": 0,\n            \"marketConversionPrice\": 0.0003117948653662939,\n            \"liquidityProviderData\": false,\n            \"isNonCustodial\": false\n          },\n          {\n            \"sourceCurrency\": \"ETH\",\n            \"destinationCurrency\": \"ETH\",\n            \"sourceAmount\": 0.019306451445060917,\n            \"destinationAmount\": 0.019306451445060917,\n            \"liquidityProvider\": \"transak\",\n            \"conversionPrice\": 1,\n            \"isCryptoliquidityProvider\": true,\n            \"networkFeeInSourceAmount\": 0.00228827,\n            \"networkFeeInDestinationAmount\": 0.00228827,\n            \"marketConversionPrice\": 1,\n            \"liquidityProviderData\": false,\n            \"isFiatPartnerAccountWalletDeposit\": false\n          }\n        ],\n        \"fees\": [\n          {\n            \"name\": \"Network/Exchange fee\",\n            \"value\": 5.92,\n            \"id\": \"network_fee\",\n            \"ids\": [\n              \"network_fee\"\n            ]\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"value\": 2,\n            \"id\": \"transak_fee\",\n            \"ids\": [\n              \"transak_fee\",\n              \"partner_fee\"\n            ]\n          }\n        ],\n        \"fiatAmountInUsd\": 61.94,\n        \"internalFees\": [\n          {\n            \"name\": \"Network/Exchange fee\",\n            \"id\": \"network_fee\",\n            \"value\": 5.92\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"id\": \"transak_fee\",\n            \"value\": 1\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"id\": \"partner_fee\",\n            \"value\": 1\n          }\n        ],\n        \"cost\": {\n          \"ethPriceInLocalCurrency\": 2575.5953731199997,\n          \"gasCostinLocalCurrency\": 5.923869358176,\n          \"transakMinimumFee\": 1,\n          \"transakFeeAmount\": 1,\n          \"fiatLiquidityProviderFee\": 0,\n          \"gasCostinLocalCurrencyByFiatPartner\": 0,\n          \"gasCostinLocalCurrencyByCryptoPartner\": 0,\n          \"partnerFeeDecimal\": 0.02,\n          \"partnerFeeInLocalCurrency\": 1,\n          \"totalFeeDecimal\": 0.15839999999999999,\n          \"totalFeeAmount\": 7.92,\n          \"gasCurrency\": \"ETH\",\n          \"gasInNativeToken\": 0.0023,\n          \"gasCurrencyRateInUsd\": 0.00031339317053602765,\n          \"totalAmountChargedByTransak\": 7.923869358176\n        }\n      },\n      \"conversionPriceData\": {\n        \"_id\": \"0db7370e-2bcf-4cc4-868d-ec296cef6bf7\",\n        \"id\": \"0db7370e-2bcf-4cc4-868d-ec296cef6bf7\",\n        \"createdAt\": \"2024-04-23T13:43:08.410Z\",\n        \"fiatCurrency\": \"GBP\",\n        \"cryptoCurrency\": \"ETH\",\n        \"paymentMethod\": \"gbp_bank_transfer\",\n        \"fiatAmount\": 50,\n        \"network\": \"ethereum\",\n        \"cryptoAmount\": 0.01624831,\n        \"isBuyOrSell\": \"BUY\",\n        \"conversionPrice\": 0.00038612902890121836,\n        \"marketConversionPrice\": 0.0003882597439164637,\n        \"slippage\": 0.55,\n        \"cryptoLiquidityProvider\": \"transak\",\n        \"fiatLiquidityProvider\": \"coinbase\",\n        \"partnerApiKey\": \"d79671a4-b021-4a4f-a444-6862a680a94b\",\n        \"sourceTokenAmount\": 0.01624830953616327,\n        \"sourceToken\": \"ETH\",\n        \"notes\": [],\n        \"fiatFeeAmount\": 7.92,\n        \"feeDecimal\": 0.15839999999999999,\n        \"swaps\": [\n          {\n            \"sourceCurrency\": \"GBP\",\n            \"destinationCurrency\": \"USDT\",\n            \"sourceAmount\": 50,\n            \"destinationAmount\": 61.92036364158808,\n            \"paymentMethod\": \"gbp_bank_transfer\",\n            \"liquidityProvider\": \"coinbase\",\n            \"conversionPrice\": 1.2384072728317617,\n            \"feeInSourceAmount\": 0,\n            \"networkFeeInSourceAmount\": 0,\n            \"marketConversionPrice\": 1.2384072728317617,\n            \"isNonCustodial\": false,\n            \"isFiatliquidityProvider\": true,\n            \"isFiatPartnerDirectCryptoDeposit\": false,\n            \"isFiatPartnerAccountWalletDeposit\": false,\n            \"liquidityProviderData\": false,\n            \"originalDestinationAmount\": 61.92036364158808\n          },\n          {\n            \"sourceCurrency\": \"USDT\",\n            \"destinationCurrency\": \"ETH\",\n            \"sourceAmount\": 61.92036364158808,\n            \"destinationAmount\": 0.019306451445060917,\n            \"liquidityProvider\": \"transak\",\n            \"conversionPrice\": 0.0003117948653662939,\n            \"networkFeeInSourceAmount\": 0,\n            \"networkFeeInDestinationAmount\": 0,\n            \"marketConversionPrice\": 0.0003117948653662939,\n            \"liquidityProviderData\": false,\n            \"isNonCustodial\": false\n          },\n          {\n            \"sourceCurrency\": \"ETH\",\n            \"destinationCurrency\": \"ETH\",\n            \"sourceAmount\": 0.019306451445060917,\n            \"destinationAmount\": 0.019306451445060917,\n            \"liquidityProvider\": \"transak\",\n            \"conversionPrice\": 1,\n            \"isCryptoliquidityProvider\": true,\n            \"networkFeeInSourceAmount\": 0.00228827,\n            \"networkFeeInDestinationAmount\": 0.00228827,\n            \"marketConversionPrice\": 1,\n            \"liquidityProviderData\": false,\n            \"isFiatPartnerAccountWalletDeposit\": false\n          }\n        ],\n        \"fees\": [\n          {\n            \"name\": \"Network/Exchange fee\",\n            \"value\": 5.92,\n            \"id\": \"network_fee\",\n            \"ids\": [\n              \"network_fee\"\n            ]\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"value\": 2,\n            \"id\": \"transak_fee\",\n            \"ids\": [\n              \"transak_fee\",\n              \"partner_fee\"\n            ]\n          }\n        ],\n        \"fiatAmountInUsd\": 61.94,\n        \"internalFees\": [\n          {\n            \"name\": \"Network/Exchange fee\",\n            \"id\": \"network_fee\",\n            \"value\": 5.92\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"id\": \"transak_fee\",\n            \"value\": 1\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"id\": \"partner_fee\",\n            \"value\": 1\n          }\n        ],\n        \"cost\": {\n          \"ethPriceInLocalCurrency\": 2575.5953731199997,\n          \"gasCostinLocalCurrency\": 5.923869358176,\n          \"transakMinimumFee\": 1,\n          \"transakFeeAmount\": 1,\n          \"fiatLiquidityProviderFee\": 0,\n          \"gasCostinLocalCurrencyByFiatPartner\": 0,\n          \"gasCostinLocalCurrencyByCryptoPartner\": 0,\n          \"partnerFeeDecimal\": 0.02,\n          \"partnerFeeInLocalCurrency\": 1,\n          \"totalFeeDecimal\": 0.15839999999999999,\n          \"totalFeeAmount\": 7.92,\n          \"gasCurrency\": \"ETH\",\n          \"gasInNativeToken\": 0.0023,\n          \"gasCurrencyRateInUsd\": 0.00031339317053602765,\n          \"totalAmountChargedByTransak\": 7.923869358176\n        }\n      },\n      \"conversionPrice\": 0.00038612903992395436,\n      \"cryptoAmount\": 0.01624831,\n      \"totalFeeInFiat\": 7.92,\n      \"totalfeeDecimal\": 0.15839999999999999,\n      \"fiatAmountInUsd\": 61.94,\n      \"countryCode\": \"FR\",\n      \"referenceCode\": 720473,\n      \"paymentOptions\": [\n        {\n          \"currency\": \"GBP\",\n          \"id\": \"gbp_bank_transfer\",\n          \"name\": \"Bank Transfer Details\",\n          \"fields\": [\n            {\n              \"name\": \"Name\",\n              \"value\": \"Transak Limited\"\n            },\n            {\n              \"name\": \"Account #\",\n              \"value\": \"03744074\"\n            },\n            {\n              \"name\": \"Sort Code\",\n              \"value\": \"000000\"\n            },\n            {\n              \"name\": \"Bank\",\n              \"value\": \"Modulr\"\n            },\n            {\n              \"name\": \"Address\",\n              \"value\": \"Scale Space, 58 Wood Lane, London, W12 7RZ\"\n            }\n          ]\n        }\n      ],\n      \"fromWalletAddress\": \"0x085ee67132ec4297b85ed5d1b4c65424d36fda7d\",\n      \"isPaymentProcessing\": false,\n      \"autoExpiresAt\": \"2024-04-23T14:27:55+00:00\",\n      \"partnerApiKey\": \"d79671a4-b021-4a4f-a444-6862a680a94b\",\n      \"stateCode\": \"Paris\",\n      \"userKycType\": \"STANDARD\",\n      \"cardPaymentData\": {\n        \"orderId\": \"c49e3630-56ae-40f1-a9ca-12d6cc65b487\",\n        \"paymentId\": \"6627bae0b6fc7f32cdca7f55\",\n        \"pgData\": {\n          \"paymentOptions\": [\n            {\n              \"currency\": \"GBP\",\n              \"id\": \"gbp_bank_transfer\",\n              \"name\": \"Bank Transfer Details\",\n              \"fields\": [\n                {\n                  \"name\": \"Name\",\n                  \"value\": \"Transak Limited\"\n                },\n                {\n                  \"name\": \"Account #\",\n                  \"value\": \"03744074\"\n                },\n                {\n                  \"name\": \"Sort Code\",\n                  \"value\": \"000000\"\n                },\n                {\n                  \"name\": \"Bank\",\n                  \"value\": \"Modulr\"\n                },\n                {\n                  \"name\": \"Address\",\n                  \"value\": \"Scale Space, 58 Wood Lane, London, W12 7RZ\"\n                }\n              ]\n            }\n          ],\n          \"liquidityProvider\": \"MODULR\",\n          \"status\": \"CREATED\"\n        },\n        \"liquidityProvider\": \"MODULR\",\n        \"updatedAt\": \"2024-04-23T13:43:01.208Z\",\n        \"status\": \"CAPTURED\",\n        \"processedOn\": \"2024-04-23T13:43:00.000Z\"\n      },\n      \"liquidityProvider\": \"MODULR\",\n      \"id\": \"c49e3630-56ae-40f1-a9ca-12d6cc65b487\",\n      \"slackThreadId\": \"1713879777.710649\",\n      \"statusHistories\": [\n        {\n          \"status\": \"AWAITING_PAYMENT_FROM_USER\",\n          \"createdAt\": \"2024-04-23T13:42:57.777Z\",\n          \"message\": \"*📦 New order by Ashutosh Jha* \\n*Order Id:* c49e3630-56ae-40f1-a9ca-12d6cc65b487\\n*Email:* ashutosh+23042024@transak.com\\n*Crypto Amount:* 0.01624831 ETH\\n*Fiat Amount:* 50 GBP\\n*Payment Method:*  gbp_bank_transfer\\n*Liquidity Provider*  MODULR\\n*Wallet Address:* 0xad50e22916f9cE95715DfD285f6819C545E3FB12\\n*Reference Code:* 720473 \\n*Partner name:* Transak\",\n          \"isEmailSentToUser\": true,\n          \"partnerEventId\": \"ORDER_CREATED\"\n        },\n        {\n          \"status\": \"PAYMENT_DONE_MARKED_BY_USER\",\n          \"createdAt\": \"2024-04-23T13:42:59.908Z\",\n          \"message\": \"*💳 User marked payment is done - Ashutosh Jha* \\n*Order Id:* c49e3630-56ae-40f1-a9ca-12d6cc65b487\",\n          \"isEmailSentToUser\": false,\n          \"partnerEventId\": \"ORDER_PAYMENT_VERIFYING\"\n        },\n        {\n          \"status\": \"PENDING_DELIVERY_FROM_TRANSAK\",\n          \"createdAt\": \"2024-04-23T13:43:01.571Z\",\n          \"message\": \"*💸 Payment reconciled successfully. Received 50 GBP\",\n          \"isEmailSentToUser\": false,\n          \"partnerEventId\": \"ORDER_PROCESSING\"\n        },\n        {\n          \"status\": \"COMPLETED\",\n          \"createdAt\": \"2024-04-23T13:43:16.206Z\",\n          \"message\": \"✅ Crypto sent successfully to Ashutosh Jha\\n\\nTransaction Link: https://sepolia.etherscan.io/tx/DUMMY_TX_ID\",\n          \"isEmailSentToUser\": true,\n          \"partnerEventId\": \"ORDER_COMPLETED\"\n        }\n      ],\n      \"paymentMarkedAt\": \"2024-04-23T13:42:59.628Z\",\n      \"capturedAt\": \"2024-04-23T13:43:01.097Z\",\n      \"liquidityProviderData\": {\n        \"id\": \"T2100AENNA\",\n        \"amount\": 50,\n        \"currency\": \"GBP\",\n        \"description\": \"Payment from Ashutosh Jha: 720473\",\n        \"transactionDate\": \"2024-04-23T13:43:00.000+0000\",\n        \"postedDate\": \"2024-04-23T13:43:00.174+0000\",\n        \"credit\": true,\n        \"type\": \"PI_BACS\",\n        \"sourceId\": \"P2100FRA8D\",\n        \"additionalInfo\": {\n          \"payer\": {\n            \"name\": \"Ashutosh Jha\",\n            \"address\": {\n              \"country\": \"France\",\n              \"postCode\": \"75010\",\n              \"postTown\": \"Paris\",\n              \"addressLine1\": \"Somewhere\",\n              \"addressLine2\": \"\"\n            },\n            \"identifier\": {\n              \"type\": \"SCAN\",\n              \"sortCode\": \"000000\",\n              \"accountNumber\": \"03744074\"\n            }\n          }\n        },\n        \"account\": {\n          \"id\": \"A2100C59XH\",\n          \"name\": \"Transak\",\n          \"balance\": \"50.00\",\n          \"currency\": \"GBP\",\n          \"status\": \"ACTIVE\",\n          \"identifiers\": [\n            {\n              \"type\": \"SCAN\",\n              \"accountNumber\": \"03744074\",\n              \"sortCode\": \"000000\",\n              \"providerExtraInfo\": \"{}\"\n            }\n          ],\n          \"customerId\": \"C120H84Y\",\n          \"customerName\": \"Transak\",\n          \"externalReference\": \"ada1b65c-3233-4f01-9786-9097d93b3039\",\n          \"accessGroups\": [],\n          \"createdDate\": \"2024-04-23T13:42:57.258+0000\",\n          \"directDebit\": false,\n          \"securedFundingLimit\": \"0.00\"\n        }\n      },\n      \"paymentTnxId\": \"A2100C59XH_T2100AENNA\",\n      \"paymentdateTime\": \"2024-04-23T13:43:00.000Z\",\n      \"isFirstOrder\": true,\n      \"paymentProcessingAt\": \"2024-04-23T13:43:08.114Z\",\n      \"updatedAt\": \"2024-04-23T13:43:08.429Z\",\n      \"cryptoTransactionData\": {\n        \"id\": \"9861ba99-41dd-456a-ab52-ae84fba1844c\",\n        \"txid\": \"DUMMY_TX_ID\",\n        \"timestamp\": 1619973309000,\n        \"datetime\": \"2021-05-02T16:35:09.000Z\",\n        \"address\": \"DUMMY_ADDRESS\",\n        \"type\": \"withdrawal\",\n        \"amount\": 0.00114222,\n        \"currency\": \"ETH\",\n        \"status\": \"ok\",\n        \"fee\": {\n          \"currency\": \"ETH\",\n          \"cost\": \"0.0005\"\n        }\n      },\n      \"exchangeId\": \"binance\",\n      \"partnerTransactionHash\": \"9861ba99-41dd-456a-ab52-ae84fba1844c\",\n      \"transactionHashCreatedAt\": \"2024-04-23T13:43:10.861Z\",\n      \"completedAt\": \"2024-04-23T13:43:14.954Z\",\n      \"orderCost\": {\n        \"ethPriceInLocalCurrency\": 2575.5953731199997,\n        \"gasCostinLocalCurrency\": 5.923869358176,\n        \"transakMinimumFee\": 1,\n        \"transakFeeAmount\": 1,\n        \"fiatLiquidityProviderFee\": 0,\n        \"gasCostinLocalCurrencyByFiatPartner\": 0,\n        \"gasCostinLocalCurrencyByCryptoPartner\": 0,\n        \"partnerFeeDecimal\": 0.02,\n        \"partnerFeeInLocalCurrency\": 1,\n        \"totalFeeDecimal\": 0.15839999999999999,\n        \"totalFeeAmount\": 7.92,\n        \"gasCurrency\": \"ETH\",\n        \"gasInNativeToken\": 0.0023,\n        \"gasCurrencyRateInUsd\": 0.00031339317053602765,\n        \"totalAmountChargedByTransak\": 7.923869358176\n      },\n      \"transactionHash\": \"DUMMY_TX_ID\",\n      \"transactionLink\": \"https://sepolia.etherscan.io/tx/DUMMY_TX_ID\",\n      \"partnerFeeInUsd\": \"1.24\",\n      \"partnerFeeDecimal\": 0.02,\n      \"webhookResponses\": []\n    },\n    {\n      \"_id\": \"78ca7b6b-6cd9-4eac-a39f-4a49f8d8b99b\",\n      \"walletAddress\": \"0xad50e22916f9cE95715DfD285f6819C545E3FB12\",\n      \"createdAt\": \"2024-04-23T12:54:12.571Z\",\n      \"status\": \"COMPLETED\",\n      \"fiatCurrency\": \"GBP\",\n      \"userId\": \"243a8ce2-9cc6-41a9-aaeb-b0deeb0b19a3\",\n      \"cryptoCurrency\": \"ETH\",\n      \"isBuyOrSell\": \"BUY\",\n      \"fiatAmount\": 50,\n      \"dispute\": false,\n      \"ipAddress\": \"35.177.158.9\",\n      \"amountPaid\": 50,\n      \"paymentOptionId\": \"credit_debit_card\",\n      \"walletLink\": \"https://sepolia.etherscan.io/address/0xad50e22916f9cE95715DfD285f6819C545E3FB12\",\n      \"quoteId\": \"4249cdaf-2cb9-4f9e-bc3e-83cf40a9897a\",\n      \"orderProcessingType\": \"NORMAL\",\n      \"addressAdditionalData\": false,\n      \"network\": \"ethereum\",\n      \"appVersionName\": \"staging-api\",\n      \"conversionPriceDataAtCreateOrder\": {\n        \"_id\": \"e2f21d8f-d7ec-4b5f-b83e-146da0a97065\",\n        \"id\": \"e2f21d8f-d7ec-4b5f-b83e-146da0a97065\",\n        \"createdAt\": \"2024-04-23T12:54:12.539Z\",\n        \"fiatCurrency\": \"GBP\",\n        \"cryptoCurrency\": \"ETH\",\n        \"paymentMethod\": \"credit_debit_card\",\n        \"fiatAmount\": 50,\n        \"network\": \"ethereum\",\n        \"cryptoAmount\": 0.01556409,\n        \"isBuyOrSell\": \"BUY\",\n        \"conversionPrice\": 0.0003857272502238138,\n        \"marketConversionPrice\": 0.0003897715419988878,\n        \"slippage\": 1.04,\n        \"cryptoLiquidityProvider\": \"transak\",\n        \"fiatLiquidityProvider\": \"coinbase\",\n        \"partnerApiKey\": \"d79671a4-b021-4a4f-a444-6862a680a94b\",\n        \"sourceTokenAmount\": 0.015564094546530889,\n        \"sourceToken\": \"ETH\",\n        \"notes\": [],\n        \"fiatFeeAmount\": 9.65,\n        \"feeDecimal\": 0.193,\n        \"swaps\": [\n          {\n            \"sourceCurrency\": \"GBP\",\n            \"destinationCurrency\": \"USDT\",\n            \"sourceAmount\": 50,\n            \"destinationAmount\": 61.99240827498554,\n            \"paymentMethod\": \"credit_debit_card\",\n            \"liquidityProvider\": \"coinbase\",\n            \"conversionPrice\": 1.2398481654997109,\n            \"feeInSourceAmount\": 0,\n            \"networkFeeInSourceAmount\": 0,\n            \"marketConversionPrice\": 1.2398481654997109,\n            \"isNonCustodial\": false,\n            \"isFiatliquidityProvider\": true,\n            \"isFiatPartnerDirectCryptoDeposit\": false,\n            \"isFiatPartnerAccountWalletDeposit\": false,\n            \"liquidityProviderData\": false,\n            \"originalDestinationAmount\": 61.99240827498554\n          },\n          {\n            \"sourceCurrency\": \"USDT\",\n            \"destinationCurrency\": \"ETH\",\n            \"sourceAmount\": 61.99240827498554,\n            \"destinationAmount\": 0.019286362511190692,\n            \"liquidityProvider\": \"transak\",\n            \"conversionPrice\": 0.00031110845743627776,\n            \"networkFeeInSourceAmount\": 0,\n            \"networkFeeInDestinationAmount\": 0,\n            \"marketConversionPrice\": 0.00031110845743627776,\n            \"liquidityProviderData\": false,\n            \"isNonCustodial\": false\n          },\n          {\n            \"sourceCurrency\": \"ETH\",\n            \"destinationCurrency\": \"ETH\",\n            \"sourceAmount\": 0.019286362511190692,\n            \"destinationAmount\": 0.019286362511190692,\n            \"liquidityProvider\": \"transak\",\n            \"conversionPrice\": 1,\n            \"isCryptoliquidityProvider\": true,\n            \"networkFeeInSourceAmount\": 0.002277,\n            \"networkFeeInDestinationAmount\": 0.002277,\n            \"marketConversionPrice\": 1,\n            \"liquidityProviderData\": false,\n            \"isFiatPartnerAccountWalletDeposit\": false\n          }\n        ],\n        \"fees\": [\n          {\n            \"name\": \"Network/Exchange fee\",\n            \"value\": 5.9,\n            \"id\": \"network_fee\",\n            \"ids\": [\n              \"network_fee\"\n            ]\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"value\": 3.75,\n            \"id\": \"transak_fee\",\n            \"ids\": [\n              \"transak_fee\",\n              \"partner_fee\"\n            ]\n          }\n        ],\n        \"fiatAmountInUsd\": 62.02,\n        \"internalFees\": [\n          {\n            \"name\": \"Network/Exchange fee\",\n            \"id\": \"network_fee\",\n            \"value\": 5.9\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"id\": \"transak_fee\",\n            \"value\": 2.75\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"id\": \"partner_fee\",\n            \"value\": 1\n          }\n        ],\n        \"cost\": {\n          \"ethPriceInLocalCurrency\": 2565.60546948,\n          \"gasCostinLocalCurrency\": 5.900892579804,\n          \"transakMinimumFee\": 0,\n          \"transakFeeAmount\": 2.75,\n          \"fiatLiquidityProviderFee\": 0,\n          \"gasCostinLocalCurrencyByFiatPartner\": 0,\n          \"gasCostinLocalCurrencyByCryptoPartner\": 0,\n          \"partnerFeeDecimal\": 0.02,\n          \"partnerFeeInLocalCurrency\": 1,\n          \"totalFeeDecimal\": 0.193,\n          \"totalFeeAmount\": 9.65,\n          \"gasCurrency\": \"ETH\",\n          \"gasInNativeToken\": 0.0023,\n          \"gasCurrencyRateInUsd\": 0.00031425096710735126,\n          \"totalAmountChargedByTransak\": 9.650892579804001\n        }\n      },\n      \"conversionPriceData\": {\n        \"_id\": \"fadeab77-4a66-41aa-acdb-55dbac9b3656\",\n        \"id\": \"fadeab77-4a66-41aa-acdb-55dbac9b3656\",\n        \"createdAt\": \"2024-04-23T12:55:29.453Z\",\n        \"fiatCurrency\": \"GBP\",\n        \"cryptoCurrency\": \"ETH\",\n        \"paymentMethod\": \"credit_debit_card\",\n        \"fiatAmount\": 50,\n        \"network\": \"ethereum\",\n        \"cryptoAmount\": 0.01555672,\n        \"isBuyOrSell\": \"BUY\",\n        \"conversionPrice\": 0.0003855445231511878,\n        \"marketConversionPrice\": 0.00038958300467146844,\n        \"slippage\": 1.04,\n        \"cryptoLiquidityProvider\": \"transak\",\n        \"fiatLiquidityProvider\": \"coinbase\",\n        \"partnerApiKey\": \"d79671a4-b021-4a4f-a444-6862a680a94b\",\n        \"sourceTokenAmount\": 0.01555672150915043,\n        \"sourceToken\": \"ETH\",\n        \"notes\": [],\n        \"fiatFeeAmount\": 9.65,\n        \"feeDecimal\": 0.193,\n        \"swaps\": [\n          {\n            \"sourceCurrency\": \"GBP\",\n            \"destinationCurrency\": \"USDT\",\n            \"sourceAmount\": 50,\n            \"destinationAmount\": 61.993027969781224,\n            \"paymentMethod\": \"credit_debit_card\",\n            \"liquidityProvider\": \"coinbase\",\n            \"conversionPrice\": 1.2398605593956245,\n            \"feeInSourceAmount\": 0,\n            \"networkFeeInSourceAmount\": 0,\n            \"marketConversionPrice\": 1.2398605593956245,\n            \"isNonCustodial\": false,\n            \"isFiatliquidityProvider\": true,\n            \"isFiatPartnerDirectCryptoDeposit\": false,\n            \"isFiatPartnerAccountWalletDeposit\": false,\n            \"liquidityProviderData\": false,\n            \"originalDestinationAmount\": 61.993027969781224\n          },\n          {\n            \"sourceCurrency\": \"USDT\",\n            \"destinationCurrency\": \"ETH\",\n            \"sourceAmount\": 61.993027969781224,\n            \"destinationAmount\": 0.01927722615755939,\n            \"liquidityProvider\": \"transak\",\n            \"conversionPrice\": 0.00031095797041815994,\n            \"networkFeeInSourceAmount\": 0,\n            \"networkFeeInDestinationAmount\": 0,\n            \"marketConversionPrice\": 0.00031095797041815994,\n            \"liquidityProviderData\": false,\n            \"isNonCustodial\": false\n          },\n          {\n            \"sourceCurrency\": \"ETH\",\n            \"destinationCurrency\": \"ETH\",\n            \"sourceAmount\": 0.01927722615755939,\n            \"destinationAmount\": 0.01927722615755939,\n            \"liquidityProvider\": \"transak\",\n            \"conversionPrice\": 1,\n            \"isCryptoliquidityProvider\": true,\n            \"networkFeeInSourceAmount\": 0.0022769999999999995,\n            \"networkFeeInDestinationAmount\": 0.0022769999999999995,\n            \"marketConversionPrice\": 1,\n            \"liquidityProviderData\": false,\n            \"isFiatPartnerAccountWalletDeposit\": false\n          }\n        ],\n        \"fees\": [\n          {\n            \"name\": \"Network/Exchange fee\",\n            \"value\": 5.9,\n            \"id\": \"network_fee\",\n            \"ids\": [\n              \"network_fee\"\n            ]\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"value\": 3.75,\n            \"id\": \"transak_fee\",\n            \"ids\": [\n              \"transak_fee\",\n              \"partner_fee\"\n            ]\n          }\n        ],\n        \"fiatAmountInUsd\": 62.02,\n        \"internalFees\": [\n          {\n            \"name\": \"Network/Exchange fee\",\n            \"id\": \"network_fee\",\n            \"value\": 5.9\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"id\": \"transak_fee\",\n            \"value\": 2.75\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"id\": \"partner_fee\",\n            \"value\": 1\n          }\n        ],\n        \"cost\": {\n          \"ethPriceInLocalCurrency\": 2566.84708524,\n          \"gasCostinLocalCurrency\": 5.903748296052,\n          \"transakMinimumFee\": 0,\n          \"transakFeeAmount\": 2.75,\n          \"fiatLiquidityProviderFee\": 0,\n          \"gasCostinLocalCurrencyByFiatPartner\": 0,\n          \"gasCostinLocalCurrencyByCryptoPartner\": 0,\n          \"partnerFeeDecimal\": 0.02,\n          \"partnerFeeInLocalCurrency\": 1,\n          \"totalFeeDecimal\": 0.193,\n          \"totalFeeAmount\": 9.65,\n          \"gasCurrency\": \"ETH\",\n          \"gasInNativeToken\": 0.0023,\n          \"gasCurrencyRateInUsd\": 0.00031409896001834337,\n          \"totalAmountChargedByTransak\": 9.653748296052001\n        }\n      },\n      \"conversionPrice\": 0.0003855444857496902,\n      \"cryptoAmount\": 0.01555672,\n      \"totalFeeInFiat\": 9.65,\n      \"totalfeeDecimal\": 0.193,\n      \"fiatAmountInUsd\": 62.02,\n      \"countryCode\": \"IN\",\n      \"referenceCode\": 204115,\n      \"paymentOptions\": [],\n      \"fromWalletAddress\": \"0x085ee67132ec4297b85ed5d1b4c65424d36fda7d\",\n      \"isPaymentProcessing\": false,\n      \"autoExpiresAt\": \"2024-04-23T13:39:12+00:00\",\n      \"partnerApiKey\": \"d79671a4-b021-4a4f-a444-6862a680a94b\",\n      \"stateCode\": \"Karnataka\",\n      \"userKycType\": \"STANDARD\",\n      \"cardPaymentData\": {\n        \"orderId\": \"78ca7b6b-6cd9-4eac-a39f-4a49f8d8b99b\",\n        \"paymentId\": \"6627af75b6fc7f773eca785d\",\n        \"pgData\": {\n          \"redirectionRequired\": true,\n          \"redirectionRequestData\": {\n            \"method\": \"GET\",\n            \"header\": {},\n            \"redirectUrl\": \"https://authentication-devices.sandbox.checkout.com/sessions-interceptor/sid_yjxg3xqicejublaxjhutchtojm\",\n            \"body\": {}\n          }\n        },\n        \"liquidityProvider\": \"CHECKOUT\",\n        \"updatedAt\": \"2024-04-23T12:55:24.364Z\",\n        \"status\": \"CAPTURED\",\n        \"processedOn\": \"2024-04-23T12:55:18.132088Z\",\n        \"statusReason\": \"Payment captured from user card.\"\n      },\n      \"liquidityProvider\": \"CHECKOUT\",\n      \"id\": \"78ca7b6b-6cd9-4eac-a39f-4a49f8d8b99b\",\n      \"slackThreadId\": \"1713876854.532339\",\n      \"statusHistories\": [\n        {\n          \"status\": \"AWAITING_PAYMENT_FROM_USER\",\n          \"createdAt\": \"2024-04-23T12:54:14.599Z\",\n          \"message\": \"*📦 New order by Ashutosh Jha* \\n*Order Id:* 78ca7b6b-6cd9-4eac-a39f-4a49f8d8b99b\\n*Email:* ashutosh@transak.com\\n*Crypto Amount:* 0.01556409 ETH\\n*Fiat Amount:* 50 GBP\\n*Payment Method:*  credit_debit_card\\n*Liquidity Provider*  CHECKOUT\\n*Wallet Address:* 0xad50e22916f9cE95715DfD285f6819C545E3FB12\\n*Reference Code:* 204115 \\n*Partner name:* Transak\",\n          \"isEmailSentToUser\": false,\n          \"partnerEventId\": \"ORDER_CREATED\"\n        },\n        {\n          \"status\": \"PROCESSING\",\n          \"createdAt\": \"2024-04-23T12:54:23.643Z\",\n          \"message\": \"*💸 Payment reconciled successfully. Received 50 GBP\",\n          \"isEmailSentToUser\": false,\n          \"partnerEventId\": \"ORDER_PROCESSING\"\n        },\n        {\n          \"status\": \"PENDING_DELIVERY_FROM_TRANSAK\",\n          \"createdAt\": \"2024-04-23T12:55:24.643Z\",\n          \"message\": \"*💸 Payment reconciled successfully. Received 50 GBP\",\n          \"isEmailSentToUser\": false,\n          \"partnerEventId\": \"ORDER_PROCESSING\"\n        },\n        {\n          \"status\": \"COMPLETED\",\n          \"createdAt\": \"2024-04-23T12:55:44.226Z\",\n          \"message\": \"✅ Crypto sent successfully to Ashutosh Jha\\n\\nTransaction Link: https://sepolia.etherscan.io/tx/DUMMY_TX_ID\",\n          \"isEmailSentToUser\": true,\n          \"partnerEventId\": \"ORDER_COMPLETED\"\n        }\n      ],\n      \"paymentTnxId\": \"6627af75b6fc7f773eca785d\",\n      \"paymentdateTime\": \"2024-04-23T12:55:18.132088Z\",\n      \"capturedAt\": \"2024-04-23T12:55:24.242Z\",\n      \"statusReason\": \"Payment captured from user card.\",\n      \"isFirstOrder\": false,\n      \"paymentProcessingAt\": \"2024-04-23T12:55:29.144Z\",\n      \"updatedAt\": \"2024-04-23T12:55:29.473Z\",\n      \"cryptoTransactionData\": {\n        \"id\": \"9861ba99-41dd-456a-ab52-ae84fba1844c\",\n        \"txid\": \"DUMMY_TX_ID\",\n        \"timestamp\": 1619973309000,\n        \"datetime\": \"2021-05-02T16:35:09.000Z\",\n        \"address\": \"DUMMY_ADDRESS\",\n        \"type\": \"withdrawal\",\n        \"amount\": 0.00114222,\n        \"currency\": \"ETH\",\n        \"status\": \"ok\",\n        \"fee\": {\n          \"currency\": \"ETH\",\n          \"cost\": \"0.0005\"\n        }\n      },\n      \"exchangeId\": \"binance\",\n      \"partnerTransactionHash\": \"9861ba99-41dd-456a-ab52-ae84fba1844c\",\n      \"transactionHashCreatedAt\": \"2024-04-23T12:55:30.439Z\",\n      \"completedAt\": \"2024-04-23T12:55:43.238Z\",\n      \"orderCost\": {\n        \"ethPriceInLocalCurrency\": 2566.84708524,\n        \"gasCostinLocalCurrency\": 5.903748296052,\n        \"transakMinimumFee\": 0,\n        \"transakFeeAmount\": 2.75,\n        \"fiatLiquidityProviderFee\": 0,\n        \"gasCostinLocalCurrencyByFiatPartner\": 0,\n        \"gasCostinLocalCurrencyByCryptoPartner\": 0,\n        \"partnerFeeDecimal\": 0.02,\n        \"partnerFeeInLocalCurrency\": 1,\n        \"totalFeeDecimal\": 0.193,\n        \"totalFeeAmount\": 9.65,\n        \"gasCurrency\": \"ETH\",\n        \"gasInNativeToken\": 0.0023,\n        \"gasCurrencyRateInUsd\": 0.00031409896001834337,\n        \"totalAmountChargedByTransak\": 9.653748296052001\n      },\n      \"transactionHash\": \"DUMMY_TX_ID\",\n      \"transactionLink\": \"https://sepolia.etherscan.io/tx/DUMMY_TX_ID\",\n      \"partnerFeeInUsd\": \"1.24\",\n      \"partnerFeeDecimal\": 0.02,\n      \"webhookResponses\": []\n    },\n    {\n      \"_id\": \"daad83b3-d2f7-44fa-aefa-7e39b230ad32\",\n      \"walletAddress\": \"0x9200806FAc8b923772d5c38C404D191269C5029D\",\n      \"createdAt\": \"2024-04-23T12:47:08.507Z\",\n      \"status\": \"COMPLETED\",\n      \"fiatCurrency\": \"EUR\",\n      \"userId\": \"243a8ce2-9cc6-41a9-aaeb-b0deeb0b19a3\",\n      \"cryptoCurrency\": \"ETH\",\n      \"isBuyOrSell\": \"BUY\",\n      \"fiatAmount\": 50,\n      \"dispute\": false,\n      \"ipAddress\": \"35.177.158.9\",\n      \"amountPaid\": 50,\n      \"paymentOptionId\": \"sepa_bank_transfer\",\n      \"walletLink\": \"https://sepolia.etherscan.io/address/0x9200806FAc8b923772d5c38C404D191269C5029D\",\n      \"quoteId\": \"d1c54f13-e4a0-4b0e-a03e-1aacc7d4d675\",\n      \"orderProcessingType\": \"NORMAL\",\n      \"addressAdditionalData\": false,\n      \"network\": \"ethereum\",\n      \"appVersionName\": \"staging-api\",\n      \"conversionPriceDataAtCreateOrder\": {\n        \"_id\": \"cc7555ce-a838-4eb0-a44f-ba75bd37de11\",\n        \"id\": \"cc7555ce-a838-4eb0-a44f-ba75bd37de11\",\n        \"createdAt\": \"2024-04-23T12:47:08.482Z\",\n        \"fiatCurrency\": \"EUR\",\n        \"cryptoCurrency\": \"ETH\",\n        \"paymentMethod\": \"sepa_bank_transfer\",\n        \"fiatAmount\": 50,\n        \"network\": \"ethereum\",\n        \"cryptoAmount\": 0.01374033,\n        \"isBuyOrSell\": \"BUY\",\n        \"conversionPrice\": 0.0003339083260287956,\n        \"marketConversionPrice\": 0.00033574081116309775,\n        \"slippage\": 0.55,\n        \"cryptoLiquidityProvider\": \"transak\",\n        \"fiatLiquidityProvider\": \"coinbase\",\n        \"partnerApiKey\": \"d79671a4-b021-4a4f-a444-6862a680a94b\",\n        \"sourceTokenAmount\": 0.01374032761608494,\n        \"sourceToken\": \"ETH\",\n        \"notes\": [],\n        \"fiatFeeAmount\": 8.85,\n        \"feeDecimal\": 0.177,\n        \"swaps\": [\n          {\n            \"sourceCurrency\": \"EUR\",\n            \"destinationCurrency\": \"USDT\",\n            \"sourceAmount\": 50,\n            \"destinationAmount\": 53.35904721698373,\n            \"paymentMethod\": \"sepa_bank_transfer\",\n            \"liquidityProvider\": \"coinbase\",\n            \"conversionPrice\": 1.0671809443396747,\n            \"feeInSourceAmount\": 0,\n            \"networkFeeInSourceAmount\": 0,\n            \"marketConversionPrice\": 1.0671809443396747,\n            \"isNonCustodial\": false,\n            \"isFiatliquidityProvider\": true,\n            \"isFiatPartnerDirectCryptoDeposit\": false,\n            \"isFiatPartnerAccountWalletDeposit\": false,\n            \"liquidityProviderData\": false,\n            \"originalDestinationAmount\": 53.35904721698373\n          },\n          {\n            \"sourceCurrency\": \"USDT\",\n            \"destinationCurrency\": \"ETH\",\n            \"sourceAmount\": 53.35904721698373,\n            \"destinationAmount\": 0.01669541630143978,\n            \"liquidityProvider\": \"transak\",\n            \"conversionPrice\": 0.00031288820119947287,\n            \"networkFeeInSourceAmount\": 0,\n            \"networkFeeInDestinationAmount\": 0,\n            \"marketConversionPrice\": 0.00031288820119947287,\n            \"liquidityProviderData\": false,\n            \"isNonCustodial\": false\n          },\n          {\n            \"sourceCurrency\": \"ETH\",\n            \"destinationCurrency\": \"ETH\",\n            \"sourceAmount\": 0.01669541630143978,\n            \"destinationAmount\": 0.01669541630143978,\n            \"liquidityProvider\": \"transak\",\n            \"conversionPrice\": 1,\n            \"isCryptoliquidityProvider\": true,\n            \"networkFeeInSourceAmount\": 0.0022882700000000002,\n            \"networkFeeInDestinationAmount\": 0.0022882700000000002,\n            \"marketConversionPrice\": 1,\n            \"liquidityProviderData\": false,\n            \"isFiatPartnerAccountWalletDeposit\": false\n          }\n        ],\n        \"fees\": [\n          {\n            \"name\": \"Network/Exchange fee\",\n            \"value\": 6.85,\n            \"id\": \"network_fee\",\n            \"ids\": [\n              \"network_fee\"\n            ]\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"value\": 2,\n            \"id\": \"transak_fee\",\n            \"ids\": [\n              \"transak_fee\",\n              \"partner_fee\"\n            ]\n          }\n        ],\n        \"fiatAmountInUsd\": 53.38,\n        \"internalFees\": [\n          {\n            \"name\": \"Network/Exchange fee\",\n            \"id\": \"network_fee\",\n            \"value\": 6.85\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"id\": \"transak_fee\",\n            \"value\": 1\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"id\": \"partner_fee\",\n            \"value\": 1\n          }\n        ],\n        \"cost\": {\n          \"ethPriceInLocalCurrency\": 2978.4880680300002,\n          \"gasCostinLocalCurrency\": 6.8505225564689995,\n          \"transakMinimumFee\": 1,\n          \"transakFeeAmount\": 1,\n          \"fiatLiquidityProviderFee\": 0,\n          \"gasCostinLocalCurrencyByFiatPartner\": 0,\n          \"gasCostinLocalCurrencyByCryptoPartner\": 0,\n          \"partnerFeeDecimal\": 0.02,\n          \"partnerFeeInLocalCurrency\": 1,\n          \"totalFeeDecimal\": 0.177,\n          \"totalFeeAmount\": 8.85,\n          \"gasCurrency\": \"ETH\",\n          \"gasInNativeToken\": 0.0023,\n          \"gasCurrencyRateInUsd\": 0.0003144921109653964,\n          \"totalAmountChargedByTransak\": 8.850522556468999\n        }\n      },\n      \"conversionPriceData\": {\n        \"_id\": \"0e3cde60-0b77-4094-9564-b0c5d2318967\",\n        \"id\": \"0e3cde60-0b77-4094-9564-b0c5d2318967\",\n        \"createdAt\": \"2024-04-23T12:47:13.945Z\",\n        \"fiatCurrency\": \"EUR\",\n        \"cryptoCurrency\": \"ETH\",\n        \"paymentMethod\": \"sepa_bank_transfer\",\n        \"fiatAmount\": 50,\n        \"network\": \"ethereum\",\n        \"cryptoAmount\": 0.01374033,\n        \"isBuyOrSell\": \"BUY\",\n        \"conversionPrice\": 0.0003339083260287956,\n        \"marketConversionPrice\": 0.00033574081116309775,\n        \"slippage\": 0.55,\n        \"cryptoLiquidityProvider\": \"transak\",\n        \"fiatLiquidityProvider\": \"coinbase\",\n        \"partnerApiKey\": \"d79671a4-b021-4a4f-a444-6862a680a94b\",\n        \"sourceTokenAmount\": 0.01374032761608494,\n        \"sourceToken\": \"ETH\",\n        \"notes\": [],\n        \"fiatFeeAmount\": 8.85,\n        \"feeDecimal\": 0.177,\n        \"swaps\": [\n          {\n            \"sourceCurrency\": \"EUR\",\n            \"destinationCurrency\": \"USDT\",\n            \"sourceAmount\": 50,\n            \"destinationAmount\": 53.35904721698373,\n            \"paymentMethod\": \"sepa_bank_transfer\",\n            \"liquidityProvider\": \"coinbase\",\n            \"conversionPrice\": 1.0671809443396747,\n            \"feeInSourceAmount\": 0,\n            \"networkFeeInSourceAmount\": 0,\n            \"marketConversionPrice\": 1.0671809443396747,\n            \"isNonCustodial\": false,\n            \"isFiatliquidityProvider\": true,\n            \"isFiatPartnerDirectCryptoDeposit\": false,\n            \"isFiatPartnerAccountWalletDeposit\": false,\n            \"liquidityProviderData\": false,\n            \"originalDestinationAmount\": 53.35904721698373\n          },\n          {\n            \"sourceCurrency\": \"USDT\",\n            \"destinationCurrency\": \"ETH\",\n            \"sourceAmount\": 53.35904721698373,\n            \"destinationAmount\": 0.01669541630143978,\n            \"liquidityProvider\": \"transak\",\n            \"conversionPrice\": 0.00031288820119947287,\n            \"networkFeeInSourceAmount\": 0,\n            \"networkFeeInDestinationAmount\": 0,\n            \"marketConversionPrice\": 0.00031288820119947287,\n            \"liquidityProviderData\": false,\n            \"isNonCustodial\": false\n          },\n          {\n            \"sourceCurrency\": \"ETH\",\n            \"destinationCurrency\": \"ETH\",\n            \"sourceAmount\": 0.01669541630143978,\n            \"destinationAmount\": 0.01669541630143978,\n            \"liquidityProvider\": \"transak\",\n            \"conversionPrice\": 1,\n            \"isCryptoliquidityProvider\": true,\n            \"networkFeeInSourceAmount\": 0.0022882700000000002,\n            \"networkFeeInDestinationAmount\": 0.0022882700000000002,\n            \"marketConversionPrice\": 1,\n            \"liquidityProviderData\": false,\n            \"isFiatPartnerAccountWalletDeposit\": false\n          }\n        ],\n        \"fees\": [\n          {\n            \"name\": \"Network/Exchange fee\",\n            \"value\": 6.85,\n            \"id\": \"network_fee\",\n            \"ids\": [\n              \"network_fee\"\n            ]\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"value\": 2,\n            \"id\": \"transak_fee\",\n            \"ids\": [\n              \"transak_fee\",\n              \"partner_fee\"\n            ]\n          }\n        ],\n        \"fiatAmountInUsd\": 53.38,\n        \"internalFees\": [\n          {\n            \"name\": \"Network/Exchange fee\",\n            \"id\": \"network_fee\",\n            \"value\": 6.85\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"id\": \"transak_fee\",\n            \"value\": 1\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"id\": \"partner_fee\",\n            \"value\": 1\n          }\n        ],\n        \"cost\": {\n          \"ethPriceInLocalCurrency\": 2978.4880680300002,\n          \"gasCostinLocalCurrency\": 6.8505225564689995,\n          \"transakMinimumFee\": 1,\n          \"transakFeeAmount\": 1,\n          \"fiatLiquidityProviderFee\": 0,\n          \"gasCostinLocalCurrencyByFiatPartner\": 0,\n          \"gasCostinLocalCurrencyByCryptoPartner\": 0,\n          \"partnerFeeDecimal\": 0.02,\n          \"partnerFeeInLocalCurrency\": 1,\n          \"totalFeeDecimal\": 0.177,\n          \"totalFeeAmount\": 8.85,\n          \"gasCurrency\": \"ETH\",\n          \"gasInNativeToken\": 0.0023,\n          \"gasCurrencyRateInUsd\": 0.0003144921109653964,\n          \"totalAmountChargedByTransak\": 8.850522556468999\n        }\n      },\n      \"conversionPrice\": 0.0003339083839611179,\n      \"cryptoAmount\": 0.01374033,\n      \"totalFeeInFiat\": 8.85,\n      \"totalfeeDecimal\": 0.177,\n      \"fiatAmountInUsd\": 53.38,\n      \"countryCode\": \"IN\",\n      \"referenceCode\": 204115,\n      \"paymentOptions\": [\n        {\n          \"currency\": \"EUR\",\n          \"id\": \"sepa_bank_transfer\",\n          \"name\": \"Bank Transfer Details\",\n          \"fields\": [\n            {\n              \"name\": \"Name\",\n              \"value\": \"Transak Limited\"\n            },\n            {\n              \"name\": \"IBAN\",\n              \"value\": \"GB69MOCK00000003743944\"\n            },\n            {\n              \"name\": \"Bank\",\n              \"value\": \"Modulr\"\n            },\n            {\n              \"name\": \"Address\",\n              \"value\": \"Scale Space, 58 Wood Lane, London, W12 7RZ\"\n            }\n          ]\n        }\n      ],\n      \"fromWalletAddress\": \"0x085ee67132ec4297b85ed5d1b4c65424d36fda7d\",\n      \"isPaymentProcessing\": false,\n      \"autoExpiresAt\": \"2024-04-23T13:32:08+00:00\",\n      \"partnerApiKey\": \"d79671a4-b021-4a4f-a444-6862a680a94b\",\n      \"stateCode\": \"Karnataka\",\n      \"userKycType\": \"STANDARD\",\n      \"cardPaymentData\": {\n        \"orderId\": \"daad83b3-d2f7-44fa-aefa-7e39b230ad32\",\n        \"paymentId\": \"6627adcdb6fc7f47daca7709\",\n        \"pgData\": {\n          \"paymentOptions\": [\n            {\n              \"currency\": \"EUR\",\n              \"id\": \"sepa_bank_transfer\",\n              \"name\": \"Bank Transfer Details\",\n              \"fields\": [\n                {\n                  \"name\": \"Name\",\n                  \"value\": \"Transak Limited\"\n                },\n                {\n                  \"name\": \"IBAN\",\n                  \"value\": \"GB69MOCK00000003743944\"\n                },\n                {\n                  \"name\": \"Bank\",\n                  \"value\": \"Modulr\"\n                },\n                {\n                  \"name\": \"Address\",\n                  \"value\": \"Scale Space, 58 Wood Lane, London, W12 7RZ\"\n                }\n              ]\n            }\n          ],\n          \"liquidityProvider\": \"MODULR\",\n          \"status\": \"CREATED\"\n        },\n        \"liquidityProvider\": \"MODULR\",\n        \"updatedAt\": \"2024-04-23T12:47:13.457Z\",\n        \"status\": \"CAPTURED\",\n        \"processedOn\": \"2024-04-23T12:47:12.000Z\"\n      },\n      \"liquidityProvider\": \"MODULR\",\n      \"id\": \"daad83b3-d2f7-44fa-aefa-7e39b230ad32\",\n      \"slackThreadId\": \"1713876429.888599\",\n      \"statusHistories\": [\n        {\n          \"status\": \"AWAITING_PAYMENT_FROM_USER\",\n          \"createdAt\": \"2024-04-23T12:47:09.957Z\",\n          \"message\": \"*📦 New order by Ashutosh Jha* \\n*Order Id:* daad83b3-d2f7-44fa-aefa-7e39b230ad32\\n*Email:* ashutosh@transak.com\\n*Crypto Amount:* 0.01374033 ETH\\n*Fiat Amount:* 50 EUR\\n*Payment Method:*  sepa_bank_transfer\\n*Liquidity Provider*  MODULR\\n*Wallet Address:* 0x9200806FAc8b923772d5c38C404D191269C5029D\\n*Reference Code:* 204115 \\n*Partner name:* Transak\",\n          \"isEmailSentToUser\": true,\n          \"partnerEventId\": \"ORDER_CREATED\"\n        },\n        {\n          \"status\": \"PAYMENT_DONE_MARKED_BY_USER\",\n          \"createdAt\": \"2024-04-23T12:47:12.369Z\",\n          \"message\": \"*💳 User marked payment is done - Ashutosh Jha* \\n*Order Id:* daad83b3-d2f7-44fa-aefa-7e39b230ad32\",\n          \"isEmailSentToUser\": false,\n          \"partnerEventId\": \"ORDER_PAYMENT_VERIFYING\"\n        },\n        {\n          \"status\": \"PENDING_DELIVERY_FROM_TRANSAK\",\n          \"createdAt\": \"2024-04-23T12:47:13.712Z\",\n          \"message\": \"*💸 Payment reconciled successfully. Received 50 EUR\",\n          \"isEmailSentToUser\": false,\n          \"partnerEventId\": \"ORDER_PROCESSING\"\n        },\n        {\n          \"status\": \"COMPLETED\",\n          \"createdAt\": \"2024-04-23T12:47:42.910Z\",\n          \"message\": \"✅ Crypto sent successfully to Ashutosh Jha\\n\\nTransaction Link: https://sepolia.etherscan.io/tx/DUMMY_TX_ID\",\n          \"isEmailSentToUser\": true,\n          \"partnerEventId\": \"ORDER_COMPLETED\"\n        }\n      ],\n      \"paymentMarkedAt\": \"2024-04-23T12:47:12.149Z\",\n      \"capturedAt\": \"2024-04-23T12:47:13.355Z\",\n      \"liquidityProviderData\": {\n        \"id\": \"T2100AEMJS\",\n        \"amount\": 50,\n        \"currency\": \"EUR\",\n        \"description\": \"Payment from Ashutosh Jha: 204115\",\n        \"transactionDate\": \"2024-04-23T12:47:12.000+0000\",\n        \"postedDate\": \"2024-04-23T12:47:12.535+0000\",\n        \"credit\": true,\n        \"type\": \"PI_BACS\",\n        \"sourceId\": \"P2100FR9GZ\",\n        \"additionalInfo\": {\n          \"payer\": {\n            \"name\": \"Ashutosh Jha\",\n            \"address\": {\n              \"country\": \"India\",\n              \"postCode\": \"560029\",\n              \"postTown\": \"India\",\n              \"addressLine1\": \"BTM Layout, Stage 1\",\n              \"addressLine2\": \"Chocolate Factory Road, Near Tasty Restaurant\"\n            },\n            \"identifier\": {\n              \"bic\": \"MOCKGB21\",\n              \"iban\": \"GB69MOCK00000003743944\",\n              \"type\": \"IBAN\"\n            }\n          }\n        },\n        \"account\": {\n          \"id\": \"A2100C59RN\",\n          \"name\": \"Transak\",\n          \"balance\": \"50.00\",\n          \"currency\": \"EUR\",\n          \"status\": \"ACTIVE\",\n          \"identifiers\": [\n            {\n              \"type\": \"IBAN\",\n              \"iban\": \"GB69MOCK00000003743944\",\n              \"bic\": \"MOCKGB21\",\n              \"providerExtraInfo\": \"{}\"\n            }\n          ],\n          \"customerId\": \"C120H84Y\",\n          \"customerName\": \"Transak\",\n          \"externalReference\": \"243a8ce2-9cc6-41a9-aaeb-b0deeb0b19a3\",\n          \"accessGroups\": [],\n          \"createdDate\": \"2024-04-23T12:47:09.535+0000\",\n          \"directDebit\": false,\n          \"securedFundingLimit\": \"0.00\"\n        }\n      },\n      \"paymentTnxId\": \"A2100C59RN_T2100AEMJS\",\n      \"paymentdateTime\": \"2024-04-23T12:47:12.000Z\",\n      \"isFirstOrder\": false,\n      \"paymentProcessingAt\": \"2024-04-23T12:47:13.734Z\",\n      \"updatedAt\": \"2024-04-23T12:47:13.968Z\",\n      \"cryptoTransactionData\": {\n        \"id\": \"9861ba99-41dd-456a-ab52-ae84fba1844c\",\n        \"txid\": \"DUMMY_TX_ID\",\n        \"timestamp\": 1619973309000,\n        \"datetime\": \"2021-05-02T16:35:09.000Z\",\n        \"address\": \"DUMMY_ADDRESS\",\n        \"type\": \"withdrawal\",\n        \"amount\": 0.00114222,\n        \"currency\": \"ETH\",\n        \"status\": \"ok\",\n        \"fee\": {\n          \"currency\": \"ETH\",\n          \"cost\": \"0.0005\"\n        }\n      },\n      \"exchangeId\": \"binance\",\n      \"partnerTransactionHash\": \"9861ba99-41dd-456a-ab52-ae84fba1844c\",\n      \"transactionHashCreatedAt\": \"2024-04-23T12:47:16.343Z\",\n      \"completedAt\": \"2024-04-23T12:47:41.889Z\",\n      \"orderCost\": {\n        \"ethPriceInLocalCurrency\": 2978.4880680300002,\n        \"gasCostinLocalCurrency\": 6.8505225564689995,\n        \"transakMinimumFee\": 1,\n        \"transakFeeAmount\": 1,\n        \"fiatLiquidityProviderFee\": 0,\n        \"gasCostinLocalCurrencyByFiatPartner\": 0,\n        \"gasCostinLocalCurrencyByCryptoPartner\": 0,\n        \"partnerFeeDecimal\": 0.02,\n        \"partnerFeeInLocalCurrency\": 1,\n        \"totalFeeDecimal\": 0.177,\n        \"totalFeeAmount\": 8.85,\n        \"gasCurrency\": \"ETH\",\n        \"gasInNativeToken\": 0.0023,\n        \"gasCurrencyRateInUsd\": 0.0003144921109653964,\n        \"totalAmountChargedByTransak\": 8.850522556468999\n      },\n      \"transactionHash\": \"DUMMY_TX_ID\",\n      \"transactionLink\": \"https://sepolia.etherscan.io/tx/DUMMY_TX_ID\",\n      \"partnerFeeInUsd\": \"1.07\",\n      \"partnerFeeDecimal\": 0.02,\n      \"webhookResponses\": []\n    },\n    {\n      \"_id\": \"b4b0e9e6-756f-4962-8919-f76e35d86dfc\",\n      \"walletAddress\": \"0x9200806FAc8b923772d5c38C404D191269C5029D\",\n      \"createdAt\": \"2024-04-23T12:45:40.590Z\",\n      \"status\": \"COMPLETED\",\n      \"fiatCurrency\": \"GBP\",\n      \"userId\": \"243a8ce2-9cc6-41a9-aaeb-b0deeb0b19a3\",\n      \"cryptoCurrency\": \"ETH\",\n      \"isBuyOrSell\": \"BUY\",\n      \"fiatAmount\": 50,\n      \"dispute\": false,\n      \"ipAddress\": \"35.177.158.9\",\n      \"amountPaid\": 50,\n      \"paymentOptionId\": \"gbp_bank_transfer\",\n      \"walletLink\": \"https://sepolia.etherscan.io/address/0x9200806FAc8b923772d5c38C404D191269C5029D\",\n      \"quoteId\": \"1c7a5fa4-abeb-4f66-a60b-f3d85f0bf19f\",\n      \"orderProcessingType\": \"NORMAL\",\n      \"addressAdditionalData\": false,\n      \"network\": \"ethereum\",\n      \"appVersionName\": \"staging-api\",\n      \"conversionPriceDataAtCreateOrder\": {\n        \"_id\": \"d0b855c7-0a8d-4a2c-b973-a432ca6d3952\",\n        \"id\": \"d0b855c7-0a8d-4a2c-b973-a432ca6d3952\",\n        \"createdAt\": \"2024-04-23T12:45:40.557Z\",\n        \"fiatCurrency\": \"GBP\",\n        \"cryptoCurrency\": \"ETH\",\n        \"paymentMethod\": \"gbp_bank_transfer\",\n        \"fiatAmount\": 50,\n        \"network\": \"ethereum\",\n        \"cryptoAmount\": 0.01631869,\n        \"isBuyOrSell\": \"BUY\",\n        \"conversionPrice\": 0.0003876173572303445,\n        \"marketConversionPrice\": 0.000389744596923256,\n        \"slippage\": 0.55,\n        \"cryptoLiquidityProvider\": \"transak\",\n        \"fiatLiquidityProvider\": \"coinbase\",\n        \"partnerApiKey\": \"d79671a4-b021-4a4f-a444-6862a680a94b\",\n        \"sourceTokenAmount\": 0.016318690739397502,\n        \"sourceToken\": \"ETH\",\n        \"notes\": [],\n        \"fiatFeeAmount\": 7.9,\n        \"feeDecimal\": 0.158,\n        \"swaps\": [\n          {\n            \"sourceCurrency\": \"GBP\",\n            \"destinationCurrency\": \"USDT\",\n            \"sourceAmount\": 50,\n            \"destinationAmount\": 61.99364767696633,\n            \"paymentMethod\": \"gbp_bank_transfer\",\n            \"liquidityProvider\": \"coinbase\",\n            \"conversionPrice\": 1.2398729535393267,\n            \"feeInSourceAmount\": 0,\n            \"networkFeeInSourceAmount\": 0,\n            \"marketConversionPrice\": 1.2398729535393267,\n            \"isNonCustodial\": false,\n            \"isFiatliquidityProvider\": true,\n            \"isFiatPartnerDirectCryptoDeposit\": false,\n            \"isFiatPartnerAccountWalletDeposit\": false,\n            \"liquidityProviderData\": false,\n            \"originalDestinationAmount\": 61.99364767696633\n          },\n          {\n            \"sourceCurrency\": \"USDT\",\n            \"destinationCurrency\": \"ETH\",\n            \"sourceAmount\": 61.99364767696633,\n            \"destinationAmount\": 0.019380867861517225,\n            \"liquidityProvider\": \"transak\",\n            \"conversionPrice\": 0.00031262667366350447,\n            \"networkFeeInSourceAmount\": 0,\n            \"networkFeeInDestinationAmount\": 0,\n            \"marketConversionPrice\": 0.00031262667366350447,\n            \"liquidityProviderData\": false,\n            \"isNonCustodial\": false\n          },\n          {\n            \"sourceCurrency\": \"ETH\",\n            \"destinationCurrency\": \"ETH\",\n            \"sourceAmount\": 0.019380867861517225,\n            \"destinationAmount\": 0.019380867861517225,\n            \"liquidityProvider\": \"transak\",\n            \"conversionPrice\": 1,\n            \"isCryptoliquidityProvider\": true,\n            \"networkFeeInSourceAmount\": 0.0022882700000000002,\n            \"networkFeeInDestinationAmount\": 0.0022882700000000002,\n            \"marketConversionPrice\": 1,\n            \"liquidityProviderData\": false,\n            \"isFiatPartnerAccountWalletDeposit\": false\n          }\n        ],\n        \"fees\": [\n          {\n            \"name\": \"Network/Exchange fee\",\n            \"value\": 5.9,\n            \"id\": \"network_fee\",\n            \"ids\": [\n              \"network_fee\"\n            ]\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"value\": 2,\n            \"id\": \"transak_fee\",\n            \"ids\": [\n              \"transak_fee\",\n              \"partner_fee\"\n            ]\n          }\n        ],\n        \"fiatAmountInUsd\": 62.02,\n        \"internalFees\": [\n          {\n            \"name\": \"Network/Exchange fee\",\n            \"id\": \"network_fee\",\n            \"value\": 5.9\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"id\": \"transak_fee\",\n            \"value\": 1\n          },\n          {\n            \"name\": \"Transak fee\",\n            \"id\": \"partner_fee\",\n            \"value\": 1\n          }\n        ],\n        \"cost\": {\n          \"ethPriceInLocalCurrency\": 2565.78284316,\n          \"gasCostinLocalCurrency\": 5.901300539268001,\n          \"transakMinimumFee\": 1,\n          \"transakFeeAmount\": 1,\n          \"fiatLiquidityProviderFee\": 0,\n          \"gasCostinLocalCurrencyByFiatPartner\": 0,\n          \"gasCostinLocalCurrencyByCryptoPartner\": 0,\n          \"partnerFeeDecimal\": 0.02,\n          \"partnerFeeInLocalCurrency\": 1,\n          \"totalFeeDecimal\": 0.158,\n          \"totalFeeAmount\": 7.9,\n          \"gasCurrency\": \"ETH\",\n          \"gasInNativeToken\": 0.0023,\n          \"gasCurrencyRateInUsd\": 0.00031
[...]
