@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer components {
  /* Input Field */
  .input-field {
    @apply border border-primary-alt-hover bg-surface-main rounded-full dark:border-primary-main-dark dark:bg-primary-main-dark md:px-5 text-lg outline-none p-2;
  }


  /* Page Header */
  .page-header {
    @apply border border-gray-200 flex justify-center font-light py-16 flex-col gap-3;
  }

  .page-container {
    @apply min-h-[calc(100vh-var(--exclude-header-height))];
  }

  .b-200{
    @apply border border-gray-200;
  }
  .width-1600{
    @apply max-w-[1600px] mx-auto;
  }
  .width-1240{
    @apply max-w-[1240px] mx-auto;
  }
  .light-text{
    @apply text-gray-500;
  }

}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@theme{
  --color-off-white: #F8F8F5;
  --exclude-header-height: 110px;

  /* Primary (Blue) */
    --color-primary-main: #3A59D1;
    --color-primary-main-hover: #3D90D7;
    /* Lighter blue for hover */
    --color-primary-main-dark: #222831;
    /* Use dark gray as 'dark' variant */
    --color-primary-main-dark-hover: #393E46;
    /* Slightly lighter dark for hover */

    /* Primary Alt (Dark Gray) */
    --color-primary-alt: #686D76;
    /* Main dark gray */
    --color-primary-alt-hover: #D8D9DA;
    /* Even darker for hover */
    --color-primary-alt-dark: #000000;
    /* Black for deepest dark */
    --color-primary-alt-dark-hover: #222831;
    /* Dark gray for hover */

    /* Accent (Light Blue) */
    --color-accent-main: #60B5FF;
    --color-accent-hover: #3D90D7;

    /* Neutrals */
    --color-black: #000000;
    --color-black-hover: #222831;
    --color-white: #FFFFFF;
    --color-white-hover: #F7F7F7;

    /* Surface/Backgrounds */
    --color-surface-main: #F1EFEC;
    --color-surface-alt: #EFEEEA;
    --color-surface-hover: #F7F7F7;

}
/* dark mode setup */
@custom-variant dark (&:where(.dark, .dark *));

